workflows/⌚[WIZARD] - LEMBRETE | É AMANHÃ.json
{
  "active": true,
  "connections": {
    "pesquisa_agendamentos_do_dia": {
      "main": [
        [
          {
            "node": "inexistente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_linhas": {
      "main": [
        [
          {
            "node": "pesquisa_lead_via_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_3_segundos": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "todo_dia_8pm": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data_de_amanha": {
      "main": [
        [
          {
            "node": "pesquisa_agendamentos_do_dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inexistente": {
      "main": [
        [
          {
            "node": "sem_acao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelado": {
      "main": [
        [
          {
            "node": "sem_acao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inexistente1": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "item_unico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_via_id": {
      "main": [
        [
          {
            "node": "inexistente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "item_unico": {
      "main": [
        [
          {
            "node": "envia_msg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "data_de_amanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_msg1": {
      "main": [
        [
          {
            "node": "espera_3_segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-17T22:32:58.719Z",
  "id": "bBkMP22GJxmDSJXv",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[WIZARD] - LEMBRETE | É AMANHÃ",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "where": {
          "values": [
            {
              "column": "data_de_inicio",
              "value": "={{ $node[\"data_de_amanha\"].json[\"amanha\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": false
        }
      },
      "id": "c9efa439-8762-47d8-8dd1-89cf7571a7d8",
      "name": "pesquisa_agendamentos_do_dia",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1080,
        1040
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "5acaa6cc-0ea2-4736-9ee0-fc156099c373",
      "name": "separa_em_linhas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1700,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"separa_em_linhas\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "d604f584-f361-4127-b391-0991bdddebd7",
      "name": "pesquisa_lead_via_id",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1920,
        980
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "fdb7e3dc-4762-45d5-8f28-308f4079cead",
      "name": "espera_3_segundos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2720,
        1260
      ],
      "webhookId": "3f04edd2-2f7d-4b98-9635-32d743824e37"
    },
    {
      "parameters": {},
      "id": "ac0e736b-6817-4b38-8af5-b8b1808cfef4",
      "name": "fim",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1920,
        1160
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "9424b835-e5ae-440b-94ed-b85738d8a2bd",
      "name": "todo_dia_8pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        540,
        1040
      ]
    },
    {
      "parameters": {
        "jsCode": "const hoje = new Date();\nhoje.setHours(hoje.getHours() - 3); // Ajuste para o fuso horário de Brasília (GMT-3)\nhoje.setDate(hoje.getDate() + 1);\nconst dia = hoje.getDate();\nconst mes = hoje.getMonth() + 1;\nconst ano = hoje.getFullYear();\nconst dataAmanha = `${ano}-${mes.toString().padStart(2, '0')}-${dia.toString().padStart(2, '0')}`;\nreturn [{ amanha: dataAmanha }];\n"
      },
      "id": "0bd205bb-505d-4fbb-b24d-702b0d2569ad",
      "name": "data_de_amanha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        880,
        1040
      ]
    },
    {
      "parameters": {},
      "id": "20416a85-c3cf-476e-ae98-66ddd26e3b4d",
      "name": "sem_acao",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_agendamentos_do_dia\"].json[\"success\"] }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "9cead406-6aa2-4401-8e79-5ee97a04a588",
      "name": "inexistente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1260,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_agendamentos_do_dia\"].json[\"status_evento\"] }}",
              "operation": "contains",
              "value2": "Cancelado"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "26cefc22-91e5-4b28-b510-d0ca9652c795",
      "name": "cancelado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        1060
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead_via_id\"].json[\"success\"] }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "e30c6d80-8d53-4849-9ca0-98e86c07940d",
      "name": "inexistente1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2100,
        980
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "3fa1b3ef-39cf-4060-91ba-aee27c264080",
      "name": "item_unico",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        2300,
        980
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000&search={{ $node[\"Set\"].json[\"tag_procurada\"] }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        960,
        620
      ],
      "id": "d11d6edf-92a6-4031-93c3-a9b3dda7cb0e"
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs dos Campos e Tags no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 747.0856205721786
      },
      "id": "abf036b2-08d1-4719-9bea-58c4185c0494",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        760,
        620
      ],
      "id": "04e46697-84c4-40a2-8e80-2893ec6c2830"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "f855a9327a9219d27bf8713569e0f7e926110f6bbe180b11ad6c3a9bdb922fd7f05402c9"
            },
            {
              "name": "url_api_activecampaign",
              "value": "futureminds14016"
            },
            {
              "name": "tag_procurada",
              "value": "EAmanha"
            }
          ]
        },
        "options": {}
      },
      "id": "3c4b4c58-1eeb-4513-a3f1-ecee11c30992",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        560,
        620
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://wizardevolution.automagicbots.com.br/"
            },
            {
              "name": "apikey",
              "value": "tonsb6jcp9gctcnsekdb8"
            },
            {
              "name": "instancia",
              "value": "FabricaDeVendas"
            }
          ]
        },
        "options": {}
      },
      "id": "f23e305b-98a7-41e8-a96a-6c91eae13e71",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        700,
        1040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"dados\"].json[\"url_base\"] }}message/sendText/{{ $node[\"dados\"].json[\"instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"dados\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"pesquisa_lead_via_id\"].json[\"telefone\"].replace('+','') }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Fala {{ $node[\"pesquisa_lead_via_id\"].json[\"nome\"] }}. Estou passando aqui para te lembrar que amanhã, {{ $node[\"separa_em_linhas\"].json[\"data_de_inicio\"].split(' ')[0].split('-')[2] }}/{{ $node[\"separa_em_linhas\"].json[\"data_de_inicio\"].split(' ')[0].split('-')[1] }}/{{ $node[\"separa_em_linhas\"].json[\"data_de_inicio\"].split(' ')[0].split('-')[0] }}, {{ $node[\"separa_em_linhas\"].json[\"hora_de_inicio\"].split(':')[0] }}:{{ $node[\"separa_em_linhas\"].json[\"hora_de_inicio\"].split(':')[1] }}, teremos a nossa chamada para falarmos da Jornada dos Pioneiros.\n\nNos vemos amanhã."
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "e5faca8c-f022-463f-b96a-e8c788fd8ad7",
      "name": "envia_msg1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2520,
        980
      ],
      "typeVersion": 4
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "YH3cb3FC5zDEa292"
  },
  "staticData": {
    "node:todo_dia_8pm": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-07-25T14:28:57.229Z",
      "updatedAt": "2024-07-25T14:28:57.229Z",
      "id": "XorArzcqF8xd0pav",
      "name": "[LEMBRETES]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-07-25T14:29:06.286Z",
  "versionId": "7bcc94ae-ed5b-48c6-956f-d85437d1d6d6"
}