workflows/⌚[WIZARD] - Aplicação Preenchida - Parte 4 - Desqualificado.json
{
  "active": true,
  "connections": {
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo_ou_mais_erro3": {
      "main": [
        [
          {
            "node": "Stop and Error3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_aplicacao": {
      "main": [
        [
          {
            "node": "insert_data_utm_aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_hj_data_lake1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_hj_data_lake1": {
      "main": [
        [
          {
            "node": "lead_ja_existia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia": {
      "main": [
        [
          {
            "node": "insert_data_data_lake1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake2": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia1": {
      "main": [
        [
          {
            "node": "update_data_data_lake2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake2": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_aplicacao": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake1": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead5": {
      "main": [
        [
          {
            "node": "insert_data_aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendamento_nao_existe": {
      "main": [
        [
          {
            "node": "envia_msg1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_agendamento_menos_de_15d": {
      "main": [
        [
          {
            "node": "agendamento_nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_10_minutos1": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_menos_de_15d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "numeros_de_teste1": {
      "main": [
        [
          {
            "node": "espera_5_segundos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "espera_10_minutos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_5_segundos": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_menos_de_15d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-16T17:35:17.988Z",
  "id": "xv5TNjeH4A3XH25W",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[WIZARD] - Aplicação Preenchida - Parte 4 - Desqualificado",
  "nodes": [
    {
      "parameters": {
        "queue": "Não Agendamentos - Parte 4 - Desqualificado",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "ed16ba26-c84f-4101-93dc-a44ad7a77d9c",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        480,
        1280
      ],
      "credentials": {
        "rabbitmq": {
          "id": "Nk5zIeZQD4nBRyYM",
          "name": "[RabbitMQ] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "fe88ca32-cb3d-4f30-b489-61c7d140354e",
      "name": "Stop and Error3",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        820,
        1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.fields.redelivered }}",
              "value2": true
            }
          ]
        }
      },
      "id": "62f1fa76-f0a6-4711-a667-cdeb2a3bf746",
      "name": "segundo_ou_mais_erro3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        660,
        1280
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "aplicacoes",
          "mode": "list",
          "cachedResultName": "aplicacoes"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}"
            },
            {
              "column": "segmento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}"
            },
            {
              "column": "faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}"
            },
            {
              "column": "meta_faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}"
            },
            {
              "column": "desenvolver_prosperar",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}"
            },
            {
              "column": "maior_desafio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}"
            },
            {
              "column": "porque_acredita",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}"
            },
            {
              "column": "expectativa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}"
            },
            {
              "column": "porque_voce",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}"
            },
            {
              "column": "comprometimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}"
            },
            {
              "column": "investimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}"
            },
            {
              "column": "data_aplicacao",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "3f08e23e-b003-42b0-8a56-46c4690666f9",
      "name": "insert_data_aplicacao",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1040,
        1280
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "a35af411-599b-4db2-8736-c3bb363e3677",
      "name": "pesquisa_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1440,
        1280
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_data_data_lake\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "953238bf-cfe6-4454-81d0-2aac20a309e7",
      "name": "nao_encontrou_registro_hj_data_lake1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1640,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_aplicacoes\"] + 1 }}"
            },
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "4e961a0d-d3c4-486e-8999-4584db65b7db",
      "name": "update_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2200,
        1460
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "5b38c696-5090-42ed-818f-0f94d16a120a",
      "name": "lead_ja_existia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1980,
        1140
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "=1"
            },
            {
              "column": "qtd_leads",
              "value": "1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "3945f132-10e4-4f06-ab32-2ba3bf101638",
      "name": "insert_data_data_lake2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2200,
        1120
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "c6b07d49-4ce5-405e-8c1e-09a08bff3ca4",
      "name": "lead_ja_existia1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1980,
        1340
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_aplicacoes\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "951da560-b932-46aa-9d75-8f9d660f1152",
      "name": "update_data_data_lake2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2200,
        1280
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "aplicacoes_2_utms",
          "mode": "list",
          "cachedResultName": "aplicacoes_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_aplicacao",
              "value": "={{ $node[\"insert_data_aplicacao\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "24126fe1-87e3-4af4-8891-dbdd4da54536",
      "name": "insert_data_utm_aplicacao",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1240,
        1280
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "b73cad5f-f631-45cd-88c3-366d77f3125a",
      "name": "insert_data_data_lake1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2200,
        960
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "ceb823fc-c716-4074-8453-2fb18edee8ed",
      "name": "pesquisa_lead5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        860,
        1280
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs dos Campos no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 607.4629790627448
      },
      "id": "dda85fdf-8696-452e-b596-b104b7e1979f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        760,
        620
      ],
      "id": "a89125a1-46da-44bc-9e83-2696d0b5d1da"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "f855a9327a9219d27bf8713569e0f7e926110f6bbe180b11ad6c3a9bdb922fd7f05402c9"
            },
            {
              "name": "url_api_activecampaign",
              "value": "futureminds14016"
            }
          ]
        },
        "options": {}
      },
      "id": "753c0297-78aa-46bf-bcff-68e352c4edbe",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        560,
        620
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://wizardevolution.automagicbots.com.br/"
            },
            {
              "name": "apikey",
              "value": "tonsb6jcp9gctcnsekdb8"
            },
            {
              "name": "instancia",
              "value": "FabricaDeVendas"
            }
          ]
        },
        "options": {}
      },
      "id": "3340680c-7d47-4253-8bab-57cd4ffa95e5",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2580,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"dados\"].json[\"url_base\"] }}message/sendText/{{ $node[\"dados\"].json[\"instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"dados\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Fala {{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}! Aqui é o Roberto, da equipe do Wizard.\n\nSua aplicação para participar da viagem e programa de aceleração com Wizard já foi recebido.\n\nNo entanto, você não agendou sua reunião. Acredito que possa ter ficado ocupado, e por isso não conseguiu agendar.\n\nVamos encontrar um horário em comum nas nossas agendas para falarmos sobre a Jornada dos Pioneiros com Wizard?"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "3e60790a-96fa-4f6d-bb96-9c4d1ba628b0",
      "name": "envia_msg1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3720,
        1160
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_agendamento_menos_de_15d\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "d85fa7ea-60bd-4bb6-bfe1-e640f599a62a",
      "name": "agendamento_nao_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3480,
        1220
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM agendamentos\nWHERE id_lead = {{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}\nAND data_de_inicio > {{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}\nAND data_de_inicio <> CURDATE();",
        "options": {
          "detailedOutput": true
        }
      },
      "id": "94f66d06-0316-40c6-8a48-d7d41638af7f",
      "name": "pesquisa_agendamento_menos_de_15d",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3280,
        1220
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "id": "1d981819-58e4-414b-9ece-655ee32215f7",
      "name": "espera_10_minutos1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3060,
        1320
      ],
      "webhookId": "b8347fd4-a0f4-47c6-95a3-45bb9acd0ddb"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "553185711260"
            },
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "553184939743"
            },
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "557181606543"
            },
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "5514991588346"
            },
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "5531999580682"
            },
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "557192594557"
            },
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "553185711260"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "e84d1cd2-85a6-48a8-8b96-4db00c3c108e",
      "name": "numeros_de_teste1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2840,
        1200
      ]
    },
    {
      "parameters": {},
      "id": "41e6014a-d0e8-44be-ae41-6b281bb48ece",
      "name": "nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3720,
        1360
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "5e6f1d4f-6bd0-4c78-aa73-2860e5097ee0",
      "name": "espera_5_segundos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3060,
        1100
      ],
      "webhookId": "3b7b2293-187e-4093-b5c5-3293ef3a0db7"
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-ls8BcGPbwC0Duv9w-GJkhQ",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Não Agendamentos - Parte 4 - Desqualificado"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "verificacao_lead": true,
            "Nome do Cliente": "Mateus Diniz (automagic Bots)",
            "E-mail do Cliente": "mateusdiniz@automagicbots.com.br",
            "Telefone do Cliente - Formato BC": "+556281196678",
            "Telefone do Cliente - Formato Z-API": "556281196678",
            "utm_content": "",
            "utm_source": "",
            "utm_campaign": "",
            "utm_medium": "",
            "utm_term": "",
            "segmento": "automações digitais",
            "faturamento": "Até R$20.000",
            "meta_faturamento": "De R$50.001 a R$100.000",
            "desenvolver_prosperar": "relacionamento e empresa",
            "maior_desafio": "faturar mais",
            "porque_acredita": "porque são os melhores do mercado",
            "expectativa": "atingir níveis maiores",
            "porque_voce": "porque tenho grande capacidade de crescimento",
            "comprometimento": "Sim",
            "investimento": "R$ 34.900,00 parcelado (em até 21x)",
            "id_ending_typeform": "thankyou-screen",
            "funil": "webinario",
            "variacao_do_funil": "JDP-Webinario",
            "data_ultima_quinzena": "2024-07-01",
            "data_resposta_type": "16/07/2024 14:35",
            "qualificacao": "Desqualificado",
            "id_lead_bd": 44
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "YH3cb3FC5zDEa292"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-07-25T14:26:34.430Z",
      "updatedAt": "2024-07-25T14:26:34.430Z",
      "id": "8NB88qb2E4sLeIYX",
      "name": "[NAG]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-07-25T14:29:25.980Z",
  "versionId": "d232bf14-db76-47b5-9123-f8b2b5157383"
}