workflows/⌚[WIZARD] - Aplicação Preenchida - Parte 2.json
{
  "active": true,
  "connections": {
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "buscarContatoChatwoot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_telefone_email_insta": {
      "main": [
        [
          {
            "node": "pesquisa_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead2": {
      "main": [
        [
          {
            "node": "nao_existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados18": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe1": {
      "main": [
        [
          {
            "node": "cria_task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "clickup_vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead": {
      "main": [
        [
          {
            "node": "dados18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "desqualificado": {
      "main": [
        [
          {
            "node": "pesquisa_lead_telefone_email_insta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead_telefone_email_insta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_telefone_email_insta1": {
      "main": [
        [
          {
            "node": "pesquisa_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead": {
      "main": [
        [
          {
            "node": "nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe": {
      "main": [
        [
          {
            "node": "cria_task1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "clickup_vazio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clickup_vazio": {
      "main": [
        [
          {
            "node": "cria_task2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "campos_para_update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task3": {
      "main": [
        [
          {
            "node": "insere_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_task": {
      "main": [
        [
          {
            "node": "update_task3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task": {
      "main": [
        [
          {
            "node": "atualiza_ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_task2": {
      "main": [
        [
          {
            "node": "update_task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3_segun": {
      "main": [
        [
          {
            "node": "divide_campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "campos_para_update": {
      "main": [
        [
          {
            "node": "divide_campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "item_unico": {
      "main": [
        [
          {
            "node": "update_task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "divide_campos": {
      "main": [
        [
          {
            "node": "add_ids",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "item_unico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_ids": {
      "main": [
        [
          {
            "node": "3_segun",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task1": {
      "main": [
        [
          {
            "node": "atualiza_ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clickup_data": {
      "main": [
        [
          {
            "node": "get_members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_members": {
      "main": [
        [
          {
            "node": "get_custom_fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_ids": {
      "main": [
        [
          {
            "node": "dados20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados20": {
      "main": [
        [
          {
            "node": "entra_na_fila1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "entra_na_fila7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead1": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados1": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clickup_vazio1": {
      "main": [
        [
          {
            "node": "cria_task3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "campos_para_update1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task4": {
      "main": [
        [
          {
            "node": "insere_dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_task1": {
      "main": [
        [
          {
            "node": "update_task4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task2": {
      "main": [
        [
          {
            "node": "atualiza_ids1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_task3": {
      "main": [
        [
          {
            "node": "update_task2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3_segun1": {
      "main": [
        [
          {
            "node": "divide_campos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "campos_para_update1": {
      "main": [
        [
          {
            "node": "divide_campos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "item_unico1": {
      "main": [
        [
          {
            "node": "update_task5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "divide_campos1": {
      "main": [
        [
          {
            "node": "add_ids1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "item_unico1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_ids1": {
      "main": [
        [
          {
            "node": "3_segun1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task5": {
      "main": [
        [
          {
            "node": "atualiza_ids1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_ids1": {
      "main": [
        [
          {
            "node": "dados21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados21": {
      "main": [
        [
          {
            "node": "entra_na_fila3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscarContatoChatwoot1": {
      "main": [
        [
          {
            "node": "existe_chatwoot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_chatwoot1": {
      "main": [
        [
          {
            "node": "atualizarContatoChatwoot1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "criarContatoChatwoot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizarContatoChatwoot1": {
      "main": [
        [
          {
            "node": "é_webinario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criarContatoChatwoot1": {
      "main": [
        [
          {
            "node": "é_webinario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é_webinario": {
      "main": [
        [
          {
            "node": "desqualificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "desqualificado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_telefone_email_insta2": {
      "main": [
        [
          {
            "node": "pesquisa_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead3": {
      "main": [
        [
          {
            "node": "nao_existe2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados19": {
      "main": [
        [
          {
            "node": "entra_na_fila2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe2": {
      "main": [
        [
          {
            "node": "cria_task4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "clickup_vazio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead2": {
      "main": [
        [
          {
            "node": "dados19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados2": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "desqualificado1": {
      "main": [
        [
          {
            "node": "pesquisa_lead_telefone_email_insta2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead_telefone_email_insta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_telefone_email_insta3": {
      "main": [
        [
          {
            "node": "pesquisa_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead1": {
      "main": [
        [
          {
            "node": "nao_existe3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe3": {
      "main": [
        [
          {
            "node": "cria_task6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "clickup_vazio3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clickup_vazio2": {
      "main": [
        [
          {
            "node": "cria_task5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "campos_para_update2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task6": {
      "main": [
        [
          {
            "node": "insere_dados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_task4": {
      "main": [
        [
          {
            "node": "update_task6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task7": {
      "main": [
        [
          {
            "node": "atualiza_ids2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_task5": {
      "main": [
        [
          {
            "node": "update_task7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3_segun2": {
      "main": [
        [
          {
            "node": "divide_campos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "campos_para_update2": {
      "main": [
        [
          {
            "node": "divide_campos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "item_unico2": {
      "main": [
        [
          {
            "node": "update_task8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "divide_campos2": {
      "main": [
        [
          {
            "node": "add_ids2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "item_unico2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_ids2": {
      "main": [
        [
          {
            "node": "3_segun2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task8": {
      "main": [
        [
          {
            "node": "atualiza_ids2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_ids2": {
      "main": [
        [
          {
            "node": "dados22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados22": {
      "main": [
        [
          {
            "node": "entra_na_fila4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados1": {
      "main": [
        [
          {
            "node": "entra_na_fila8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead3": {
      "main": [
        [
          {
            "node": "dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados3": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clickup_vazio3": {
      "main": [
        [
          {
            "node": "cria_task7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "campos_para_update3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task9": {
      "main": [
        [
          {
            "node": "insere_dados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_task6": {
      "main": [
        [
          {
            "node": "update_task9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task10": {
      "main": [
        [
          {
            "node": "atualiza_ids3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_task7": {
      "main": [
        [
          {
            "node": "update_task10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3_segun3": {
      "main": [
        [
          {
            "node": "divide_campos3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "campos_para_update3": {
      "main": [
        [
          {
            "node": "divide_campos3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "item_unico3": {
      "main": [
        [
          {
            "node": "update_task11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "divide_campos3": {
      "main": [
        [
          {
            "node": "add_ids3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "item_unico3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_ids3": {
      "main": [
        [
          {
            "node": "3_segun3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task11": {
      "main": [
        [
          {
            "node": "atualiza_ids3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_ids3": {
      "main": [
        [
          {
            "node": "dados23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados23": {
      "main": [
        [
          {
            "node": "entra_na_fila5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-12T22:48:26.529Z",
  "id": "3cyV9Fq1WvzbEapT",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[WIZARD] - Aplicação Preenchida - Parte 2",
  "nodes": [
    {
      "parameters": {
        "queue": "Não Agendamentos - Parte 2",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "1944a450-df71-4b80-a96f-f4f90cdbe1e6",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -1220,
        2680
      ],
      "credentials": {
        "rabbitmq": {
          "id": "Nk5zIeZQD4nBRyYM",
          "name": "[RabbitMQ] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "6c6856d8-e313-42db-983d-bcbec785d611",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -820,
        2560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.fields.redelivered }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b2753d9b-cf40-4b3d-b94f-97f3e86d73dd",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1000,
        2680
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000&search={{ $node[\"Set\"].json[\"tag_procurada\"] }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -300,
        2080
      ],
      "id": "121cb12a-ef7d-49ea-bde9-3c252f5b83ad"
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs dos Campos e Tags no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 747.0856205721786
      },
      "id": "f34c85cf-3396-4fa9-8201-3e917a1dd79a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -780,
        1920
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -500,
        2080
      ],
      "id": "b1720c6e-ce16-49f4-a856-3e8bdab09e3f"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "f855a9327a9219d27bf8713569e0f7e926110f6bbe180b11ad6c3a9bdb922fd7f05402c9"
            },
            {
              "name": "url_api_activecampaign",
              "value": "futureminds14016"
            },
            {
              "name": "tag_procurada"
            }
          ]
        },
        "options": {}
      },
      "id": "4559fe4f-bffb-4cc5-9513-eb8ef06057c8",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -700,
        2080
      ]
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Parte 4 - Desqualificado",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "dd61b1b2-5b10-4055-b799-4a7067264c8d",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2460,
        1360
      ],
      "credentials": {
        "rabbitmq": {
          "id": "Nk5zIeZQD4nBRyYM",
          "name": "[RabbitMQ] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Parte 4 - Qualificado",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "b23f8955-f2e6-4c7d-9731-491c79f06da3",
      "name": "entra_na_fila7",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2460,
        2200
      ],
      "credentials": {
        "rabbitmq": {
          "id": "Nk5zIeZQD4nBRyYM",
          "name": "[RabbitMQ] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '--------------------------------' }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '--------------------------------' }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || '--------------------------------' }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || '--------------------------------' }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "3842ab7a-0686-4ec7-bf3e-b1c8fdddc7fd",
      "name": "pesquisa_lead_telefone_email_insta",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        800,
        1500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "f1fdc8ad-5891-4cc8-83b8-7f146bf21d1a",
      "name": "pesquisa_lead2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        980,
        1500
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "segmento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}"
            },
            {
              "name": "meta_faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}"
            },
            {
              "name": "desenvolver_prosperar",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}"
            },
            {
              "name": "maior_desafio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}"
            },
            {
              "name": "porque_acredita",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}"
            },
            {
              "name": "expectativa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}"
            },
            {
              "name": "porque_voce",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}"
            },
            {
              "name": "comprometimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}"
            },
            {
              "name": "investimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Desqualificado"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"insere_dados\"].json[\"data\"][\"insertId\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"success\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b420d597-e15c-432d-bc0c-2019ad1002b1",
      "name": "dados18",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2280,
        1360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead_telefone_email_insta\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "cac55d22-ddb4-4a2c-8b52-6df995455a9b",
      "name": "nao_existe1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1160,
        1500
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "9a962b02-c4bd-4ddf-bc0b-546feda84764",
      "name": "insert_data_utm_lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2080,
        1360
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_clickup",
              "value": "={{ $node[\"cria_task\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Desqualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "ebb71791-2e82-41f4-a10b-0da1cb0545cf",
      "name": "insere_dados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1900,
        1360
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2b733e4b-924d-4fb7-9982-35ac87b8f650",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}",
              "rightValue": "275840a9-706e-4a24-b367-4e78cd534f56",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "695bf2ee-a3d9-4f7f-a561-4ac45bb36fd9",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}",
              "rightValue": "Desqualificado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "87814cef-0fcf-45c4-b92b-177fcf6e9dd0",
      "name": "desqualificado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        1980
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '--------------------------------' }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '--------------------------------' }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || '--------------------------------' }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || '--------------------------------' }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "63546c78-febb-4643-9c2d-a53f0a92e34b",
      "name": "pesquisa_lead_telefone_email_insta1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        740,
        2340
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "d04f7843-d68c-4629-8c35-c73295dcc2ef",
      "name": "pesquisa_lead",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        920,
        2340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "6585555e-7c8f-4135-92ed-ec67627463a1",
      "name": "nao_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        2340
      ]
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Parte 3",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "70c8e388-013b-4a2e-aac2-07954b403263",
      "name": "entra_na_fila1",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2960,
        1660
      ],
      "credentials": {
        "rabbitmq": {
          "id": "Nk5zIeZQD4nBRyYM",
          "name": "[RabbitMQ] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead_telefone_email_insta\"].json[\"id_clickup\"] }}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "f0cafa92-ad4d-4bec-91bb-ef65fc2abded",
      "name": "clickup_vazio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1360,
        1600
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"cria_task\"].json[\"id\"] }}",
        "updateFields": {
          "addAssignees": "96789246"
        }
      },
      "id": "49dcc264-59ad-4b60-9e8c-1f5fe7f70a28",
      "name": "update_task3",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1540,
        1360
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9013333894",
        "space": "90131406741",
        "folder": "90132454606",
        "list": "901304519528",
        "name": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "additionalFields": {
          "customFieldsJson": "=[\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_email_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"\n    },\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_link_whatsapp_clickup\"] }}\",\n        \"value\": \"https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/{{   $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"] : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ? $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] : null }}/\"\n    },\n{\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_telefone_clickup\"] }}\",\n        \"value\": \"+{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(0,4)}}9{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(-8) }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_jdp_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"valor_jdp\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_segmento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_meta_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_desenvolver_prosperar_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_maior_desafio_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_acredita_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_expectativa_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_voce_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_comprometimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}\"\n    }\n]\n"
        }
      },
      "id": "d8af205c-f2f0-49a2-a078-4a83cd1a2c55",
      "name": "cria_task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1360,
        1360
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"cria_task2\"].json[\"id\"] }}",
        "updateFields": {
          "addAssignees": "=96789246"
        }
      },
      "id": "78dddf7d-4e65-4eda-b46d-195a558de341",
      "name": "update_task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1720,
        1520
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9013333894",
        "space": "90131406741",
        "folder": "90132454606",
        "list": "901304519528",
        "name": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "additionalFields": {
          "customFieldsJson": "=[\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_email_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"\n    },\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_link_whatsapp_clickup\"] }}\",\n        \"value\": \"https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/{{   $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"] : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ? $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] : null }}/\"\n    },\n{\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_telefone_clickup\"] }}\",\n        \"value\": \"+{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(0,4)}}9{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(-8) }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_jdp_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"valor_jdp\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_segmento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_meta_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_desenvolver_prosperar_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_maior_desafio_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_acredita_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_expectativa_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_voce_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_comprometimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}\"\n    }\n]\n"
        }
      },
      "id": "ff8a9778-a5e8-4a3b-9479-865823347dc7",
      "name": "cria_task2",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1540,
        1520
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "fc1d5058-e98c-4f59-bf0e-cc06f5a41e0d",
      "name": "3_segun",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2220,
        1660
      ],
      "webhookId": "0c04f45a-8c13-42fb-b33c-0e88197ef61e"
    },
    {
      "parameters": {
        "jsCode": "let fields = [\n {\n        \"id\": 'e85a521d-ed4b-4de5-a533-ccaaeb4a4126' ,\n        \"value\":  $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || \"\"\n    },\n    {\n        \"id\": '146e6a0b-d2f6-4c77-9ca7-c5214de84776',\n        \"value\": 'https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/' + $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"].toString() : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ?   'https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/' +        $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"].toString() : null  || \"\"\n    },\n{\n        \"id\": '667c5680-e9e2-4527-a7f2-3a13597398ae',\n        \"value\": '+' + $node[\"chega_da_fila\"].json.content[\"Telefone do Cliente - Formato Z-API\"].slice(0, 4) + '9' + $node[\"chega_da_fila\"].json.content[\"Telefone do Cliente - Formato Z-API\"].slice(-8) || \"\" },\n {\n        \"id\": 'b3c89f54-d6ab-4a13-a96f-387f13cf259d',\n        \"value\": '4a24666b-e2b6-4d73-9fb4-3d6288dc6450'\n    },\n {\n        \"id\": '08279b52-51d7-4bf6-bddc-9f6ade0bbbf2',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] \n    },\n {\n        \"id\": '617065cb-25a9-4cdb-ad29-54c8a04c4858',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] \n    },\n {\n        \"id\": 'e0db01cd-81a3-47c9-a0cc-6ba43575d921',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] \n    },\n {\n        \"id\": '81b51f94-7551-4e1c-8ef0-d193d981023c',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] \n    },\n {\n        \"id\": 'c9244aac-7fdc-4c45-92c1-61bd5e159d02',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] \n    },\n {\n        \"id\": '443985b5-ca79-4188-a7cb-899f1b3ecdcd',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] \n    },\n {\n        \"id\": 'ac7efa91-935e-4443-bffa-0dd77207dcfa',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"]\n    },\n {\n        \"id\": '929d45b1-2256-42cc-9abf-00f649e57ab4',\n        \"value\":  $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"]\n    },\n {\n        \"id\": 'a59d4006-877c-44b9-b1e2-39f119f946b0',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] \n    },\n {\n        \"id\":  '41ff8e34-078d-479e-ac1f-c50f36a5d0fc',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"]\n    }\n];\n\nlet output = fields.map(field => {\n  return {\n    fields: [\n      { id: field.id, value: field.id === '667c5680-e9e2-4527-a7f2-3a13597398ae' ? \"'\" + field.value + \"'\" : field.value }\n    ]\n  };\n});\n\n// Flatten the output array\noutput = output.flatMap(item => item.fields);\n\nreturn output;\n"
      },
      "id": "db1ccb3e-9329-4ab2-80be-51c2e7890ceb",
      "name": "campos_para_update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1540,
        1760
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "41aa2f5c-1db9-459a-8853-17a2f00c3f50",
      "name": "item_unico",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        2060,
        1860
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "917d672e-d594-4b8b-98e0-0bf62e1d0c07",
      "name": "divide_campos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1800,
        1760
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "setCustomField",
        "task": "={{ $node[\"pesquisa_lead_telefone_email_insta\"].json[\"id_clickup\"] }}",
        "field": "={{ $node[\"divide_campos\"].json[\"id\"] }}",
        "value": "={{ $node[\"divide_campos\"].json[\"value\"] }}"
      },
      "id": "16d61c23-5079-4fd6-97cd-b718d3c9ac04",
      "name": "add_ids",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2040,
        1660
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"pesquisa_lead_telefone_email_insta\"].json[\"id_clickup\"] }}",
        "updateFields": {
          "addAssignees": "=96789246"
        }
      },
      "id": "a3fc4fc6-4347-4bb7-ae97-3891724cb2cc",
      "name": "update_task1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2240,
        1860
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "id": "86a452fn5"
      },
      "id": "333df92e-35bc-475e-9e86-aeafb6cfb9a7",
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1020,
        1300
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "list_id",
              "value": "901303676096"
            }
          ]
        },
        "options": {}
      },
      "id": "9dca6397-0b01-4518-8a46-1145829d74c3",
      "name": "clickup_data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -700,
        1640
      ]
    },
    {
      "parameters": {
        "url": "=https://api.clickup.com/api/v2/list/901304519528/member",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpOAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "8443d8f6-dc65-43a0-8c56-f4c217b5ea72",
      "name": "get_members",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -520,
        1640
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.clickup.com/api/v2/list/{{ $node[\"clickup_data\"].json[\"list_id\"] }}/field",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "7e569473-4935-44f6-94b0-59d92f0c5261",
      "name": "get_custom_fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -320,
        1640
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Desqualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "1671df09-7cf5-4f9f-bd38-27d958e37174",
      "name": "atualiza_ids",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2580,
        1660
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "segmento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}"
            },
            {
              "name": "meta_faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}"
            },
            {
              "name": "desenvolver_prosperar",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}"
            },
            {
              "name": "maior_desafio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}"
            },
            {
              "name": "porque_acredita",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}"
            },
            {
              "name": "expectativa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}"
            },
            {
              "name": "porque_voce",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}"
            },
            {
              "name": "comprometimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}"
            },
            {
              "name": "investimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Desqualificado"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"pesquisa_lead_telefone_email_insta\"].json[\"id_lead\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead",
              "value": "={{ $node[\"pesquisa_lead_telefone_email_insta\"].json[\"success\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d2af9dc4-fb3b-4376-8252-709efa4d586c",
      "name": "dados20",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2780,
        1660
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "segmento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}"
            },
            {
              "name": "meta_faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}"
            },
            {
              "name": "desenvolver_prosperar",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}"
            },
            {
              "name": "maior_desafio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}"
            },
            {
              "name": "porque_acredita",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}"
            },
            {
              "name": "expectativa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}"
            },
            {
              "name": "porque_voce",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}"
            },
            {
              "name": "comprometimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}"
            },
            {
              "name": "investimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead",
              "value": "={{ $node[\"pesquisa_lead_telefone_email_insta1\"].json[\"success\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bd5182c9-1e2e-44a6-83e0-d4b0a786e60a",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2260,
        2200
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados1\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "85539011-3b7d-4b3a-8f03-6afed6981907",
      "name": "insert_data_utm_lead1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2060,
        2200
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_clickup",
              "value": "={{ $node[\"cria_task1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Desqualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "3cfa67ab-0fb8-41e0-8eb2-7661a555dae0",
      "name": "insere_dados1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1880,
        2200
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Parte 3",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "1a9e08d9-52e9-4b3f-a8d4-638a395a4884",
      "name": "entra_na_fila3",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2940,
        2500
      ],
      "credentials": {
        "rabbitmq": {
          "id": "Nk5zIeZQD4nBRyYM",
          "name": "[RabbitMQ] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead_telefone_email_insta1\"].json[\"id_clickup\"] }}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "42e4468d-ca2a-49f6-9de0-5e15f6fb4a8f",
      "name": "clickup_vazio1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1340,
        2440
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"cria_task1\"].json[\"id\"] }}",
        "updateFields": {
          "addAssignees": "96789246"
        }
      },
      "id": "2624627c-52b5-4e04-a9f3-674558eb54eb",
      "name": "update_task4",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1520,
        2200
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9013333894",
        "space": "90131406741",
        "folder": "90132454606",
        "list": "901304519528",
        "name": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "additionalFields": {
          "customFieldsJson": "=[\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_email_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"\n    },\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_link_whatsapp_clickup\"] }}\",\n        \"value\": \"https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/{{   $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"] : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ? $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] : null }}/\"\n    },\n{\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_telefone_clickup\"] }}\",\n        \"value\": \"+{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(0,4)}}9{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(-8) }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_jdp_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"valor_jdp\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_segmento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_meta_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_desenvolver_prosperar_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_maior_desafio_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_acredita_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_expectativa_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_voce_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_comprometimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}\"\n    }\n]\n"
        }
      },
      "id": "608344ea-9244-4821-b79e-ac24ad413006",
      "name": "cria_task1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1340,
        2200
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"cria_task3\"].json[\"id\"] }}",
        "updateFields": {
          "addAssignees": "=96789246"
        }
      },
      "id": "d302c1b5-6fd5-4bdd-8213-b1f06d9bba57",
      "name": "update_task2",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1700,
        2360
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9013333894",
        "space": "90131406741",
        "folder": "90132454606",
        "list": "901304519528",
        "name": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "additionalFields": {
          "customFieldsJson": "=[\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_email_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"\n    },\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_link_whatsapp_clickup\"] }}\",\n        \"value\": \"https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/{{   $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"] : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ? $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] : null }}/\"\n    },\n{\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_telefone_clickup\"] }}\",\n        \"value\": \"+{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(0,4)}}9{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(-8) }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_jdp_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"valor_jdp\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_segmento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_meta_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_desenvolver_prosperar_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_maior_desafio_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_acredita_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_expectativa_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_voce_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_comprometimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}\"\n    }\n]\n"
        }
      },
      "id": "6839b5fd-6dab-4d69-8253-bde1dfea43f6",
      "name": "cria_task3",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1520,
        2360
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "5afbcfe2-4010-4699-9f53-7360d055ce06",
      "name": "3_segun1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2200,
        2500
      ],
      "webhookId": "0c04f45a-8c13-42fb-b33c-0e88197ef61e"
    },
    {
      "parameters": {
        "jsCode": "let fields = [\n {\n        \"id\": 'e85a521d-ed4b-4de5-a533-ccaaeb4a4126' ,\n        \"value\":  $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || \"\"\n    },\n    {\n        \"id\": '146e6a0b-d2f6-4c77-9ca7-c5214de84776',\n        \"value\": 'https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/' + $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"].toString() : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ?   'https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/' +        $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"].toString() : null  || \"\"\n    },\n{\n        \"id\": '667c5680-e9e2-4527-a7f2-3a13597398ae',\n        \"value\": '+' + $node[\"chega_da_fila\"].json.content[\"Telefone do Cliente - Formato Z-API\"].slice(0, 4) + '9' + $node[\"chega_da_fila\"].json.content[\"Telefone do Cliente - Formato Z-API\"].slice(-8) || \"\" },\n {\n        \"id\": 'b3c89f54-d6ab-4a13-a96f-387f13cf259d',\n        \"value\": '4a24666b-e2b6-4d73-9fb4-3d6288dc6450'\n    },\n {\n        \"id\": '08279b52-51d7-4bf6-bddc-9f6ade0bbbf2',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] \n    },\n {\n        \"id\": '617065cb-25a9-4cdb-ad29-54c8a04c4858',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] \n    },\n {\n        \"id\": 'e0db01cd-81a3-47c9-a0cc-6ba43575d921',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] \n    },\n {\n        \"id\": '81b51f94-7551-4e1c-8ef0-d193d981023c',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] \n    },\n {\n        \"id\": 'c9244aac-7fdc-4c45-92c1-61bd5e159d02',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] \n    },\n {\n        \"id\": '443985b5-ca79-4188-a7cb-899f1b3ecdcd',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] \n    },\n {\n        \"id\": 'ac7efa91-935e-4443-bffa-0dd77207dcfa',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"]\n    },\n {\n        \"id\": '929d45b1-2256-42cc-9abf-00f649e57ab4',\n        \"value\":  $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"]\n    },\n {\n        \"id\": 'a59d4006-877c-44b9-b1e2-39f119f946b0',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] \n    },\n {\n        \"id\":  '41ff8e34-078d-479e-ac1f-c50f36a5d0fc',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"]\n    }\n];\n\nlet output = fields.map(field => {\n  return {\n    fields: [\n      { id: field.id, value: field.id === '667c5680-e9e2-4527-a7f2-3a13597398ae' ? \"'\" + field.value + \"'\" : field.value }\n    ]\n  };\n});\n\n// Flatten the output array\noutput = output.flatMap(item => item.fields);\n\nreturn output;\n"
      },
      "id": "c98f2fb5-a4e6-481e-8ec0-21a043b559bc",
      "name": "campos_para_update1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1520,
        2600
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "549e1ede-f7e4-4a8d-b672-104042eac2be",
      "name": "item_unico1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        2040,
        2700
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "ac78b5fd-6fe3-4069-bdbb-acace7fc60bf",
      "name": "divide_campos1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1780,
        2600
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "setCustomField",
        "task": "={{ $node[\"pesquisa_lead_telefone_email_insta1\"].json[\"id_clickup\"] }}",
        "field": "={{ $node[\"divide_campos1\"].json[\"id\"] }}",
        "value": "={{ $node[\"divide_campos1\"].json[\"value\"] }}"
      },
      "id": "f4d01d33-e04e-4c53-b505-f0d5a9e78ace",
      "name": "add_ids1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2020,
        2500
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"pesquisa_lead_telefone_email_insta1\"].json[\"id_clickup\"] }}",
        "updateFields": {
          "addAssignees": "=96789246"
        }
      },
      "id": "51b178bf-34dd-4d7f-85c5-6f3a09a66b7f",
      "name": "update_task5",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2220,
        2700
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead_telefone_email_insta1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Desqualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "401d9dd4-9b99-405a-8355-ca934ed3f981",
      "name": "atualiza_ids1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2560,
        2500
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "segmento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}"
            },
            {
              "name": "meta_faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}"
            },
            {
              "name": "desenvolver_prosperar",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}"
            },
            {
              "name": "maior_desafio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}"
            },
            {
              "name": "porque_acredita",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}"
            },
            {
              "name": "expectativa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}"
            },
            {
              "name": "porque_voce",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}"
            },
            {
              "name": "comprometimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}"
            },
            {
              "name": "investimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"pesquisa_lead_telefone_email_insta1\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9d4ac057-8a83-41fd-a1c3-696fe5645ffc",
      "name": "dados21",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2760,
        2500
      ]
    },
    {
      "parameters": {
        "url": "=https://atendimento-wizard.automagicbots.com.br/api/v1/accounts/3/contacts/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "cbxh53YtaByfsUj9vQ1Qn4zm"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "90872b2c-05ca-41d8-ac53-5c7b48c1e4c0",
      "name": "buscarContatoChatwoot1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -780,
        2700
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "77cd0439-9e49-4f80-b99d-aa28a8505be6",
              "leftValue": "={{ $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] }}",
              "rightValue": "=",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "31c8c6d8-ee2c-41bf-b3b6-4e8534b7f8cf",
      "name": "existe_chatwoot1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -580,
        2700
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://atendimento-wizard.automagicbots.com.br/api/v1/accounts/3/contacts/{{ $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "cbxh53YtaByfsUj9vQ1Qn4zm"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n  \"inbox_id\": 1,\n  \"phone_number\": \"+{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}\"\n}",
        "options": {}
      },
      "id": "4bfd33fc-05e5-43b8-8693-2faccec1b93a",
      "name": "atualizarContatoChatwoot1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -420,
        2560
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://atendimento-wizard.automagicbots.com.br/api/v1/accounts/3/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "cbxh53YtaByfsUj9vQ1Qn4zm"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n  \"inbox_id\": 1,\n  \"phone_number\": \"+{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}\"\n}",
        "options": {}
      },
      "id": "1c014126-6df9-4ef2-a0b4-22251b8a70c6",
      "name": "criarContatoChatwoot1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -420,
        2780
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2b733e4b-924d-4fb7-9982-35ac87b8f650",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}",
              "rightValue": "webinario",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "695bf2ee-a3d9-4f7f-a561-4ac45bb36fd9",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}",
              "rightValue": "JDP-Webinario",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "44a469bb-c10c-43b2-b64f-fe3fe2f41408",
      "name": "é_webinario",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -140,
        2660
      ]
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Parte 4 - Desqualificado",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "e6326c2b-0bc3-49f8-a92c-f0f29646babc",
      "name": "entra_na_fila2",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2400,
        2920
      ],
      "credentials": {
        "rabbitmq": {
          "id": "Nk5zIeZQD4nBRyYM",
          "name": "[RabbitMQ] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Parte 4 - Qualificado",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "48e78a19-c62a-41e4-a787-9a33b92699b6",
      "name": "entra_na_fila8",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2400,
        3760
      ],
      "credentials": {
        "rabbitmq": {
          "id": "Nk5zIeZQD4nBRyYM",
          "name": "[RabbitMQ] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '--------------------------------' }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '--------------------------------' }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || '--------------------------------' }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || '--------------------------------' }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "96486e8e-e410-4434-bac7-6fce757afcda",
      "name": "pesquisa_lead_telefone_email_insta2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        740,
        3060
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "3c3ba4ec-1d8f-4077-8607-029fccdbe6a3",
      "name": "pesquisa_lead3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        920,
        3060
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "segmento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}"
            },
            {
              "name": "meta_faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}"
            },
            {
              "name": "desenvolver_prosperar",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}"
            },
            {
              "name": "maior_desafio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}"
            },
            {
              "name": "porque_acredita",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}"
            },
            {
              "name": "expectativa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}"
            },
            {
              "name": "porque_voce",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}"
            },
            {
              "name": "comprometimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}"
            },
            {
              "name": "investimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Desqualificado"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"insere_dados2\"].json[\"data\"][\"insertId\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead",
              "value": "={{ $node[\"pesquisa_lead3\"].json[\"success\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ab3ffac5-0a6a-4ae2-bc4c-54eece74fa31",
      "name": "dados19",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2220,
        2920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead_telefone_email_insta2\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "20c00d6b-f154-42c2-9c41-a63d03d37e8c",
      "name": "nao_existe2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        3060
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados2\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "9cb569da-b297-4fd0-9dd7-243a43cb0905",
      "name": "insert_data_utm_lead2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2020,
        2920
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_clickup",
              "value": "={{ $node[\"cria_task4\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Desqualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "ce9e41a2-cab5-472b-996d-3110f5b299a2",
      "name": "insere_dados2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1840,
        2920
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2b733e4b-924d-4fb7-9982-35ac87b8f650",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}",
              "rightValue": "275840a9-706e-4a24-b367-4e78cd534f56",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "695bf2ee-a3d9-4f7f-a561-4ac45bb36fd9",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"] }}",
              "rightValue": "Desqualificado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "92d34085-5320-4305-93a7-5cf1e39a0307",
      "name": "desqualificado1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        360,
        3540
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '--------------------------------' }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] || '--------------------------------' }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || '--------------------------------' }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || '--------------------------------' }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "02847ec9-87d4-4040-8129-db1f9d61012d",
      "name": "pesquisa_lead_telefone_email_insta3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        680,
        3900
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "a613c405-6955-46a4-9c46-1dd9bc5b5776",
      "name": "pesquisa_lead1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        860,
        3900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "8dd7784b-12d5-4871-b9c2-5237fdf65906",
      "name": "nao_existe3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        3900
      ]
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Parte 3",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "09516eab-59aa-46b6-9bb7-e920f51ca3be",
      "name": "entra_na_fila4",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2900,
        3220
      ],
      "credentials": {
        "rabbitmq": {
          "id": "Nk5zIeZQD4nBRyYM",
          "name": "[RabbitMQ] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead_telefone_email_insta2\"].json[\"id_clickup\"] }}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "8d1c73f3-a306-49a8-ae08-13a7a9796720",
      "name": "clickup_vazio2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        3160
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"cria_task4\"].json[\"id\"] }}",
        "updateFields": {
          "addAssignees": "96789246"
        }
      },
      "id": "1cf3d282-3e38-4914-9f31-0ea47d173d8f",
      "name": "update_task6",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1480,
        2920
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9013333894",
        "space": "90131406741",
        "folder": "90132454606",
        "list": "901304752326",
        "name": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "additionalFields": {
          "customFieldsJson": "=[\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_email_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"\n    },\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_link_whatsapp_clickup\"] }}\",\n        \"value\": \"https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/{{   $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"] : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ? $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] : null }}/\"\n    },\n{\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_telefone_clickup\"] }}\",\n        \"value\": \"+{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(0,4)}}9{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(-8) }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_jdp_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"valor_jdp\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_segmento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_meta_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_desenvolver_prosperar_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_maior_desafio_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_acredita_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_expectativa_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_voce_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_comprometimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}\"\n    }\n]\n"
        }
      },
      "id": "2026e858-1634-4945-823f-ce2758e1c915",
      "name": "cria_task4",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1300,
        2920
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"cria_task5\"].json[\"id\"] }}",
        "updateFields": {
          "addAssignees": "=96789246"
        }
      },
      "id": "ccf18722-fb8a-45af-b5b7-c7dcfd920c92",
      "name": "update_task7",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1660,
        3080
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9013333894",
        "space": "90131406741",
        "folder": "90132454606",
        "list": "901304752326",
        "name": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "additionalFields": {
          "customFieldsJson": "=[\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_email_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"\n    },\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_link_whatsapp_clickup\"] }}\",\n        \"value\": \"https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/{{   $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"] : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ? $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] : null }}/\"\n    },\n{\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_telefone_clickup\"] }}\",\n        \"value\": \"+{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(0,4)}}9{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(-8) }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_jdp_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"valor_jdp\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_segmento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_meta_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_desenvolver_prosperar_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_maior_desafio_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_acredita_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_expectativa_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_voce_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_comprometimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}\"\n    }\n]\n"
        }
      },
      "id": "ae9a89b3-b820-4b3c-8746-f89c2e619c5d",
      "name": "cria_task5",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1480,
        3080
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "db3c2fa0-9299-4ac6-b22b-159753e2f21e",
      "name": "3_segun2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2160,
        3220
      ],
      "webhookId": "0c04f45a-8c13-42fb-b33c-0e88197ef61e"
    },
    {
      "parameters": {
        "jsCode": "let fields = [\n {\n        \"id\": 'e85a521d-ed4b-4de5-a533-ccaaeb4a4126' ,\n        \"value\":  $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || \"\"\n    },\n    {\n        \"id\": '146e6a0b-d2f6-4c77-9ca7-c5214de84776',\n        \"value\": 'https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/' + $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"].toString() : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ?   'https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/' +        $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"].toString() : null  || \"\"\n    },\n{\n        \"id\": '667c5680-e9e2-4527-a7f2-3a13597398ae',\n        \"value\": '+' + $node[\"chega_da_fila\"].json.content[\"Telefone do Cliente - Formato Z-API\"].slice(0, 4) + '9' + $node[\"chega_da_fila\"].json.content[\"Telefone do Cliente - Formato Z-API\"].slice(-8) || \"\" },\n {\n        \"id\": 'b3c89f54-d6ab-4a13-a96f-387f13cf259d',\n        \"value\": '4a24666b-e2b6-4d73-9fb4-3d6288dc6450'\n    },\n {\n        \"id\": '08279b52-51d7-4bf6-bddc-9f6ade0bbbf2',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] \n    },\n {\n        \"id\": '617065cb-25a9-4cdb-ad29-54c8a04c4858',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] \n    },\n {\n        \"id\": 'e0db01cd-81a3-47c9-a0cc-6ba43575d921',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] \n    },\n {\n        \"id\": '81b51f94-7551-4e1c-8ef0-d193d981023c',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] \n    },\n {\n        \"id\": 'c9244aac-7fdc-4c45-92c1-61bd5e159d02',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] \n    },\n {\n        \"id\": '443985b5-ca79-4188-a7cb-899f1b3ecdcd',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] \n    },\n {\n        \"id\": 'ac7efa91-935e-4443-bffa-0dd77207dcfa',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"]\n    },\n {\n        \"id\": '929d45b1-2256-42cc-9abf-00f649e57ab4',\n        \"value\":  $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"]\n    },\n {\n        \"id\": 'a59d4006-877c-44b9-b1e2-39f119f946b0',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] \n    },\n {\n        \"id\":  '41ff8e34-078d-479e-ac1f-c50f36a5d0fc',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"]\n    }\n];\n\nlet output = fields.map(field => {\n  return {\n    fields: [\n      { id: field.id, value: field.id === '667c5680-e9e2-4527-a7f2-3a13597398ae' ? \"'\" + field.value + \"'\" : field.value }\n    ]\n  };\n});\n\n// Flatten the output array\noutput = output.flatMap(item => item.fields);\n\nreturn output;\n"
      },
      "id": "9e2b0b9f-6686-4442-8931-99702f7a174c",
      "name": "campos_para_update2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1480,
        3320
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "3a4fbdad-5fb2-4e1f-a711-8c38c23fcf77",
      "name": "item_unico2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        2000,
        3420
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "cc103b48-333d-4714-9de1-8aafbe6370ea",
      "name": "divide_campos2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1740,
        3320
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "setCustomField",
        "task": "={{ $node[\"pesquisa_lead_telefone_email_insta2\"].json[\"id_clickup\"] }}",
        "field": "={{ $node[\"divide_campos2\"].json[\"id\"] }}",
        "value": "={{ $node[\"divide_campos2\"].json[\"value\"] }}"
      },
      "id": "7001035c-e8bd-4efd-a5f7-285eafdc4ed7",
      "name": "add_ids2",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1980,
        3220
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"pesquisa_lead_telefone_email_insta2\"].json[\"id_clickup\"] }}",
        "updateFields": {
          "addAssignees": "=96789246"
        }
      },
      "id": "f9318969-b6fe-494d-b13a-d3f438f0c3dd",
      "name": "update_task8",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2180,
        3420
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "id": "86a452fn5"
      },
      "id": "da964db5-500a-4c5e-85bf-7124ae37a7f3",
      "name": "ClickUp1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        960,
        2860
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead3\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Desqualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "93569d53-8a14-4285-834e-8c995392cf08",
      "name": "atualiza_ids2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2520,
        3220
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "segmento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}"
            },
            {
              "name": "meta_faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}"
            },
            {
              "name": "desenvolver_prosperar",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}"
            },
            {
              "name": "maior_desafio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}"
            },
            {
              "name": "porque_acredita",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}"
            },
            {
              "name": "expectativa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}"
            },
            {
              "name": "porque_voce",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}"
            },
            {
              "name": "comprometimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}"
            },
            {
              "name": "investimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Desqualificado"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"pesquisa_lead_telefone_email_insta2\"].json[\"id_lead\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead",
              "value": "={{ $node[\"pesquisa_lead_telefone_email_insta2\"].json[\"success\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "09bbec7a-aaf9-4c29-b418-d5f9def3384b",
      "name": "dados22",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2720,
        3220
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "segmento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}"
            },
            {
              "name": "meta_faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}"
            },
            {
              "name": "desenvolver_prosperar",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}"
            },
            {
              "name": "maior_desafio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}"
            },
            {
              "name": "porque_acredita",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}"
            },
            {
              "name": "expectativa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}"
            },
            {
              "name": "porque_voce",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}"
            },
            {
              "name": "comprometimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}"
            },
            {
              "name": "investimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"insere_dados3\"].json[\"data\"][\"insertId\"] }}"
            }
          ],
          "boolean": [
            {
              "name": "verificacao_lead",
              "value": "={{ $node[\"pesquisa_lead_telefone_email_insta3\"].json[\"success\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "97905cd7-3e74-4c1a-829a-c0013c73ae63",
      "name": "dados1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2200,
        3760
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados3\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "f7b5497d-14a6-4da2-aeb9-cff0988d1d87",
      "name": "insert_data_utm_lead3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2000,
        3760
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_clickup",
              "value": "={{ $node[\"cria_task6\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Desqualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "4ae7f96d-d043-4e90-90ca-f311c4191df2",
      "name": "insere_dados3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1820,
        3760
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Parte 3",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "62c1b269-53b8-4f5a-a56f-1539dfdc85d7",
      "name": "entra_na_fila5",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        2880,
        4060
      ],
      "credentials": {
        "rabbitmq": {
          "id": "Nk5zIeZQD4nBRyYM",
          "name": "[RabbitMQ] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead_telefone_email_insta3\"].json[\"id_clickup\"] }}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "7fa372e8-1121-41e7-848a-5b2cbd2cd937",
      "name": "clickup_vazio3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1280,
        4000
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"cria_task6\"].json[\"id\"] }}",
        "updateFields": {
          "addAssignees": "96789246"
        }
      },
      "id": "41f850f4-47dd-4bce-ba81-da3f8498f51d",
      "name": "update_task9",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1460,
        3760
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9013333894",
        "space": "90131406741",
        "folder": "90132454606",
        "list": "901304752326",
        "name": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "additionalFields": {
          "customFieldsJson": "=[\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_email_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"\n    },\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_link_whatsapp_clickup\"] }}\",\n        \"value\": \"https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/{{   $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"] : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ? $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] : null }}/\"\n    },\n{\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_telefone_clickup\"] }}\",\n        \"value\": \"+{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(0,4)}}9{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(-8) }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_jdp_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"valor_jdp\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_segmento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_meta_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_desenvolver_prosperar_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_maior_desafio_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_acredita_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_expectativa_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_voce_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_comprometimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}\"\n    }\n]\n"
        }
      },
      "id": "126e239f-fe74-4a9c-8a36-017ab310b162",
      "name": "cria_task6",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1280,
        3760
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"cria_task7\"].json[\"id\"] }}",
        "updateFields": {
          "addAssignees": "=96789246"
        }
      },
      "id": "ff8c93bf-edd1-48c0-a337-592af9602efa",
      "name": "update_task10",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1640,
        3920
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9013333894",
        "space": "90131406741",
        "folder": "90132454606",
        "list": "901304752326",
        "name": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "additionalFields": {
          "customFieldsJson": "=[\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_email_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"\n    },\n    {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_link_whatsapp_clickup\"] }}\",\n        \"value\": \"https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/{{   $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"] : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ? $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] : null }}/\"\n    },\n{\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_telefone_clickup\"] }}\",\n        \"value\": \"+{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(0,4)}}9{{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(-8) }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_jdp_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"valor_jdp\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_segmento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_meta_faturamento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_desenvolver_prosperar_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_maior_desafio_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_acredita_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_expectativa_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_porque_voce_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_comprometimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}\"\n    },\n {\n        \"id\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_investimento_clickup\"] }}\",\n        \"value\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}\"\n    }\n]\n"
        }
      },
      "id": "2bcb2d36-6a09-48a2-af45-fef2823b3679",
      "name": "cria_task7",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1460,
        3920
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "101a64bf-aae6-490e-9bc9-05408e4e9598",
      "name": "3_segun3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2140,
        4060
      ],
      "webhookId": "0c04f45a-8c13-42fb-b33c-0e88197ef61e"
    },
    {
      "parameters": {
        "jsCode": "let fields = [\n {\n        \"id\": 'e85a521d-ed4b-4de5-a533-ccaaeb4a4126' ,\n        \"value\":  $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] || \"\"\n    },\n    {\n        \"id\": '146e6a0b-d2f6-4c77-9ca7-c5214de84776',\n        \"value\": 'https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/' + $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"].toString() : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ?   'https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/' +        $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"].toString() : null  || \"\"\n    },\n{\n        \"id\": '667c5680-e9e2-4527-a7f2-3a13597398ae',\n        \"value\": '+' + $node[\"chega_da_fila\"].json.content[\"Telefone do Cliente - Formato Z-API\"].slice(0, 4) + '9' + $node[\"chega_da_fila\"].json.content[\"Telefone do Cliente - Formato Z-API\"].slice(-8) || \"\" },\n {\n        \"id\": 'b3c89f54-d6ab-4a13-a96f-387f13cf259d',\n        \"value\": '4a24666b-e2b6-4d73-9fb4-3d6288dc6450'\n    },\n {\n        \"id\": '08279b52-51d7-4bf6-bddc-9f6ade0bbbf2',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] \n    },\n {\n        \"id\": '617065cb-25a9-4cdb-ad29-54c8a04c4858',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] \n    },\n {\n        \"id\": 'e0db01cd-81a3-47c9-a0cc-6ba43575d921',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] \n    },\n {\n        \"id\": '81b51f94-7551-4e1c-8ef0-d193d981023c',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] \n    },\n {\n        \"id\": 'c9244aac-7fdc-4c45-92c1-61bd5e159d02',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] \n    },\n {\n        \"id\": '443985b5-ca79-4188-a7cb-899f1b3ecdcd',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] \n    },\n {\n        \"id\": 'ac7efa91-935e-4443-bffa-0dd77207dcfa',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"]\n    },\n {\n        \"id\": '929d45b1-2256-42cc-9abf-00f649e57ab4',\n        \"value\":  $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"]\n    },\n {\n        \"id\": 'a59d4006-877c-44b9-b1e2-39f119f946b0',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] \n    },\n {\n        \"id\":  '41ff8e34-078d-479e-ac1f-c50f36a5d0fc',\n        \"value\": $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"]\n    }\n];\n\nlet output = fields.map(field => {\n  return {\n    fields: [\n      { id: field.id, value: field.id === '667c5680-e9e2-4527-a7f2-3a13597398ae' ? \"'\" + field.value + \"'\" : field.value }\n    ]\n  };\n});\n\n// Flatten the output array\noutput = output.flatMap(item => item.fields);\n\nreturn output;\n"
      },
      "id": "a5c6dadc-dd76-4df5-a5f3-7fe37660f212",
      "name": "campos_para_update3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1460,
        4160
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "c8ef3be4-a38b-42be-923d-dc5b9f626e15",
      "name": "item_unico3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1980,
        4260
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "0af2047c-9c2c-4384-8591-d4da9cd12e6c",
      "name": "divide_campos3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1720,
        4160
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "setCustomField",
        "task": "={{ $node[\"pesquisa_lead_telefone_email_insta3\"].json[\"id_clickup\"] }}",
        "field": "={{ $node[\"divide_campos3\"].json[\"id\"] }}",
        "value": "={{ $node[\"divide_campos3\"].json[\"value\"] }}"
      },
      "id": "922c048d-96b5-4417-ae6d-b8d4ebc7a783",
      "name": "add_ids3",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1960,
        4060
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"pesquisa_lead_telefone_email_insta3\"].json[\"id_clickup\"] }}",
        "updateFields": {
          "addAssignees": "=96789246"
        }
      },
      "id": "2d0697dd-d2ee-40f8-be66-60b565ee127d",
      "name": "update_task11",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2160,
        4260
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead_telefone_email_insta3\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Desqualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "b170b5a1-b00c-4561-b04f-52b4b17673cd",
      "name": "atualiza_ids3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2500,
        4060
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "segmento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}"
            },
            {
              "name": "meta_faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}"
            },
            {
              "name": "desenvolver_prosperar",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}"
            },
            {
              "name": "maior_desafio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}"
            },
            {
              "name": "porque_acredita",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}"
            },
            {
              "name": "expectativa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}"
            },
            {
              "name": "porque_voce",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}"
            },
            {
              "name": "comprometimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}"
            },
            {
              "name": "investimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "Qualificado"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"pesquisa_lead_telefone_email_insta3\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "25adbfae-fcd2-469e-bb03-ae20cc5fb988",
      "name": "dados23",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2700,
        4060
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-07-25T14:26:34.430Z",
      "updatedAt": "2024-07-25T14:26:34.430Z",
      "id": "8NB88qb2E4sLeIYX",
      "name": "[NAG]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-09-26T01:14:47.454Z",
  "versionId": "197782f9-9fb0-4a49-9f0a-0846a9b562b5"
}