workflows/⌚[WIZARD] - Aplicação Preenchida - Parte 4 - Qualificado.json
{
  "active": true,
  "connections": {
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo_ou_mais_erro3": {
      "main": [
        [
          {
            "node": "Stop and Error3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_hj_data_lake": {
      "main": [
        [
          {
            "node": "qualificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "qualificado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake1": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia2": {
      "main": [
        [
          {
            "node": "insert_data_data_lake",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake3": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia3": {
      "main": [
        [
          {
            "node": "update_data_data_lake1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake3": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake1": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_hj_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qualificado": {
      "main": [
        [
          {
            "node": "lead_ja_existia2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake4": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia4": {
      "main": [
        [
          {
            "node": "insert_data_data_lake4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake5": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qualificado1": {
      "main": [
        [
          {
            "node": "lead_ja_existia3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake4": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia5": {
      "main": [
        [
          {
            "node": "update_data_data_lake4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake5": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_qualificacao_qualificado": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_qualificacao_qualificado1": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_qualificacao_qualificado2": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_qualificacao_qualificado3": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead5": {
      "main": [
        [
          {
            "node": "insert_data_aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_aplicacao": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendamento_nao_existe": {
      "main": [
        [
          {
            "node": "envia_msg1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_agendamento_menos_de_15d": {
      "main": [
        [
          {
            "node": "agendamento_nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_10_minutos1": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_menos_de_15d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "numeros_de_teste1": {
      "main": [
        [
          {
            "node": "espera_5_segundos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "espera_10_minutos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_5_segundos": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_menos_de_15d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "numeros_de_teste1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_aplicacao": {
      "main": [
        [
          {
            "node": "insert_data_utm_aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-16T17:40:17.590Z",
  "id": "a1YD6TIF4RyC9LZw",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[WIZARD] - Aplicação Preenchida - Parte 4 - Qualificado",
  "nodes": [
    {
      "parameters": {
        "queue": "Não Agendamentos - Parte 4 - Qualificado",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "c9313d83-3df2-4c2a-919b-e266ede46d63",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        400,
        1320
      ],
      "credentials": {
        "rabbitmq": {
          "id": "Nk5zIeZQD4nBRyYM",
          "name": "[RabbitMQ] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "e0024791-49cb-41b5-afd9-5e9032debefc",
      "name": "Stop and Error3",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        740,
        1060
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.fields.redelivered }}",
              "value2": true
            }
          ]
        }
      },
      "id": "0b210b68-4148-47bc-8fde-dc6d269ea7e6",
      "name": "segundo_ou_mais_erro3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        580,
        1320
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes_qualificadas",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "934c2e59-aae2-4aba-9cfa-838a916a1947",
      "name": "insert_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        740
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "0b18272b-3376-4705-8b6d-1085079e4ba6",
      "name": "nao_encontrou_registro_hj_data_lake",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        1320
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes\"] + 1 }}"
            },
            {
              "column": "qtd_aplicacoes_qualificadas",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes_qualificadas\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "36854021-3152-445c-bba8-2a1b67a032a5",
      "name": "update_data_data_lake1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        1440
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "8846cbd3-7228-4cb3-bd58-fb7db1b23005",
      "name": "lead_ja_existia2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        840
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_leads",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes_qualificadas",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "929e7012-9733-4aaa-ae24-27fffdbbb717",
      "name": "insert_data_data_lake3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        920
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "703d023e-c634-4d5b-b799-4e0ff235f9d8",
      "name": "lead_ja_existia3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        1440
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes\"] + 1 }}"
            },
            {
              "column": "qtd_aplicacoes_qualificadas",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes_qualificadas\"] + 1 }}"
            },
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "98b6e23c-3c6e-41ca-989d-1c0f89dd53c6",
      "name": "update_data_data_lake3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        1620
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "4804ebac-69ec-46c4-b885-35ea09be087a",
      "name": "pesquisa_data_data_lake1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1360,
        1320
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}",
              "value2": "ba4bae2f-2cf5-4dbe-ac38-bc38b40e2aab"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "33ef889d-994b-4fa8-b60f-e489af180438",
      "name": "qualificado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        1020
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes_medias",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "8cd4e908-39c7-4f5b-bdb1-5c7e3bb74d89",
      "name": "insert_data_data_lake4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        1080
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "83663212-d501-498a-a882-bf0405c3a4ae",
      "name": "lead_ja_existia4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2020,
        1180
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_leads",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes_medias",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "8a7f5c39-e705-4e85-afb3-61b57924a7b8",
      "name": "insert_data_data_lake5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        1260
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}",
              "value2": "ba4bae2f-2cf5-4dbe-ac38-bc38b40e2aab"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "04eb9a51-2cee-456c-b75e-d074a5df777e",
      "name": "qualificado1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        1560
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes\"] + 1 }}"
            },
            {
              "column": "qtd_aplicacoes_medias",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes_medias\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "3f50623f-53b9-42aa-806d-1f1779cd06b6",
      "name": "update_data_data_lake4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        1840
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "c88df820-7141-4e38-8193-66ffc044d13b",
      "name": "lead_ja_existia5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        1840
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes\"] + 1 }}"
            },
            {
              "column": "qtd_aplicacoes_medias",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_aplicacoes_medias\"] + 1 }}"
            },
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake1\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "1834b792-d219-44ab-9d56-64cc217609cf",
      "name": "update_data_data_lake5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2240,
        2020
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "fd739bf6-a600-4d6c-8fa7-8b655750d644",
      "name": "update_qualificacao_qualificado",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2640,
        820
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Médio Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "db9e5f5e-f54c-4b2f-8d0e-662f8c0cf44b",
      "name": "update_qualificacao_qualificado1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2640,
        1160
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "809033e7-2476-4733-8a0a-0ba7a7801439",
      "name": "update_qualificacao_qualificado2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2640,
        1500
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Médio Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "457dbb72-ca4d-4d06-81e3-dc217fd6f5b7",
      "name": "update_qualificacao_qualificado3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2640,
        1920
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000&search={{ $node[\"Set\"].json[\"tag_procurada\"] }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        740,
        620
      ],
      "id": "d14db709-316e-4025-ae68-6e961b4b093e"
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs das Tags no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 527.2145142349068
      },
      "id": "7590f66d-d0d6-4311-9847-6da20d8d8e6b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "f855a9327a9219d27bf8713569e0f7e926110f6bbe180b11ad6c3a9bdb922fd7f05402c9"
            },
            {
              "name": "url_api_activecampaign",
              "value": "futureminds14016"
            },
            {
              "name": "tag_procurada"
            }
          ]
        },
        "options": {}
      },
      "id": "3fd03208-74a0-48fb-b153-5a2b6673fc86",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        560,
        620
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "c2be65cc-3bec-4212-a3f2-405eff315e22",
      "name": "pesquisa_lead5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        780,
        1320
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "aplicacoes_2_utms",
          "mode": "list",
          "cachedResultName": "aplicacoes_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_aplicacao",
              "value": "={{ $node[\"insert_data_aplicacao\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "e837bcdb-e786-48c2-8260-3b5e811dfd74",
      "name": "insert_data_utm_aplicacao",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1160,
        1320
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://wizardevolution.automagicbots.com.br/"
            },
            {
              "name": "apikey",
              "value": "tonsb6jcp9gctcnsekdb8"
            },
            {
              "name": "instancia",
              "value": "FabricaDeVendas"
            }
          ]
        },
        "options": {}
      },
      "id": "024ccc78-aa6e-4fcf-b597-2aa11c164d9b",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3060,
        1360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"dados\"].json[\"url_base\"] }}message/sendText/{{ $node[\"dados\"].json[\"instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"dados\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Fala {{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}! Aqui é o Roberto, da equipe do Wizard.\n\nSua aplicação para participar da viagem e programa de aceleração com Wizard já foi recebido.\n\nNo entanto, você não agendou sua reunião. Acredito que possa ter ficado ocupado, e por isso não conseguiu agendar.\n\nVamos encontrar um horário em comum nas nossas agendas para falarmos sobre a Jornada dos Pioneiros com Wizard?"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "1934791f-e678-4140-9997-e0f89a450275",
      "name": "envia_msg1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4100,
        1320
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_agendamento_menos_de_15d\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "634d4f01-690f-4799-b698-abab2be387cd",
      "name": "agendamento_nao_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3860,
        1380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM agendamentos\nWHERE id_lead = {{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}\nAND data_de_inicio > {{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}\nAND data_de_inicio <> CURDATE();",
        "options": {
          "detailedOutput": true
        }
      },
      "id": "9b6154ee-5378-42fc-aa55-fe3eb55fcf93",
      "name": "pesquisa_agendamento_menos_de_15d",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3660,
        1380
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "id": "47ce3528-5994-4a4a-9aef-27e4eb7e2434",
      "name": "espera_10_minutos1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3440,
        1480
      ],
      "webhookId": "b8347fd4-a0f4-47c6-95a3-45bb9acd0ddb"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "553185711260"
            },
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "553184939743"
            },
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "557181606543"
            },
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "5514991588346"
            },
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "5531999580682"
            },
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "556281196678"
            },
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}",
              "value2": "5562981196678"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "5b8a3bfb-5851-41c4-9573-b79c3f1afafa",
      "name": "numeros_de_teste1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3220,
        1360
      ]
    },
    {
      "parameters": {},
      "id": "7c262742-9d31-4d10-a4ad-ca7b411836ff",
      "name": "nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4100,
        1520
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "3fba7541-39ab-4c8b-8a67-5c668a96b348",
      "name": "espera_5_segundos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3440,
        1260
      ],
      "webhookId": "3b7b2293-187e-4093-b5c5-3293ef3a0db7"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "aplicacoes",
          "mode": "list",
          "cachedResultName": "aplicacoes"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead5\"].json[\"id_lead\"] }}"
            },
            {
              "column": "segmento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"segmento\"] }}"
            },
            {
              "column": "faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"faturamento\"] }}"
            },
            {
              "column": "meta_faturamento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"meta_faturamento\"] }}"
            },
            {
              "column": "desenvolver_prosperar",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"desenvolver_prosperar\"] }}"
            },
            {
              "column": "maior_desafio",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"maior_desafio\"] }}"
            },
            {
              "column": "porque_acredita",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_acredita\"] }}"
            },
            {
              "column": "expectativa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"expectativa\"] }}"
            },
            {
              "column": "porque_voce",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"porque_voce\"] }}"
            },
            {
              "column": "comprometimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"comprometimento\"] }}"
            },
            {
              "column": "investimento",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"investimento\"] }}"
            },
            {
              "column": "data_aplicacao",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "4d85d1e6-356a-4c4e-80aa-90d557a393eb",
      "name": "insert_data_aplicacao",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        960,
        1320
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-zplHtgQdvBLCJ3QbGvbyOw",
            "deliveryTag": 2,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Não Agendamentos - Parte 4 - Qualificado"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "Nome do Cliente": "Mateus Diniz (automagic Bots)",
            "E-mail do Cliente": "mateusdiniz@automagicbots.com.br",
            "Telefone do Cliente - Formato BC": "+556281196678",
            "Telefone do Cliente - Formato Z-API": "556281196678",
            "utm_content": "",
            "utm_source": "",
            "utm_campaign": "",
            "utm_medium": "",
            "utm_term": "",
            "segmento": "automações digitais",
            "faturamento": "Até R$20.000",
            "meta_faturamento": "De R$50.001 a R$100.000",
            "desenvolver_prosperar": "relacionamento e empresa",
            "maior_desafio": "faturar mais",
            "porque_acredita": "porque são os melhores do mercado",
            "expectativa": "atingir níveis maiores",
            "porque_voce": "porque tenho grande capacidade de crescimento",
            "comprometimento": "Sim",
            "investimento": "R$ 34.900,00 parcelado (em até 21x)",
            "id_ending_typeform": "thankyou-screen",
            "funil": "webinario",
            "variacao_do_funil": "JDP-Webinario",
            "data_ultima_quinzena": "2024-07-01",
            "data_resposta_type": "16/07/2024 14:35",
            "qualificacao": "Qualificado",
            "id_lead_bd": 45
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "YH3cb3FC5zDEa292"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-07-25T14:26:34.430Z",
      "updatedAt": "2024-07-25T14:26:34.430Z",
      "id": "8NB88qb2E4sLeIYX",
      "name": "[NAG]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-07-25T14:29:12.787Z",
  "versionId": "b68198c9-eabd-4899-b551-c96b00422a38"
}