workflows/⌚[WIZARD] - CAL.COM - PARTE 1.json
{
  "active": true,
  "connections": {
    "Evento Criado": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Reagendamento": {
      "main": [
        [
          {
            "node": "reagendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento Criado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "numeros_de_teste": {
      "main": [
        [],
        [
          {
            "node": "nao_faça_nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Deals da Conta3": {
      "main": [
        [
          {
            "node": "Listar Pipelines e Status da Conta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Pipelines e Status da Conta3": {
      "main": [
        [
          {
            "node": "Consulta Users da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Deals da Conta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Users da Conta": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Tags da Conta": {
      "main": [
        [
          {
            "node": "Listar Tipos de Task da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reagendamento": {
      "main": [
        [
          {
            "node": "formata_dados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados2": {
      "main": [
        [
          {
            "node": "Dados do Reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados do Reagendamento": {
      "main": [
        [
          {
            "node": "entra_na_fila1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados": {
      "main": [
        [
          {
            "node": "Dados do Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados do Agendamento": {
      "main": [
        [
          {
            "node": "entra_na_fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelamento": {
      "main": [
        [
          {
            "node": "formata_dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados1": {
      "main": [
        [
          {
            "node": "Dados do Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados do Cancelamento": {
      "main": [
        [
          {
            "node": "entra_na_fila2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento": {
      "main": [
        [
          {
            "node": "É Reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-12T23:08:53.072Z",
  "id": "FPNPZgfg7lKe4QSk",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[WIZARD] - CAL.COM - PARTE 1",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"body\"][\"triggerEvent\"] }}",
              "value2": "BOOKING_CREATED"
            }
          ]
        }
      },
      "id": "4addfdc8-3e8e-4acf-b9c0-f78efe8fdf94",
      "name": "Evento Criado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"body\"][\"triggerEvent\"] }}",
              "value2": "BOOKING_RESCHEDULED"
            }
          ]
        }
      },
      "id": "a6c7bb7f-9bd4-4ea5-833f-82f9a2505a1a",
      "name": "É Reagendamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        1560
      ]
    },
    {
      "parameters": {},
      "id": "dc1c5e56-f8b5-4400-8f3c-ca98c2cd2988",
      "name": "nao_faça_nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        760,
        1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 31 98493-9743"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 31 98571-1260"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 71 98160-6543"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 14 99158-8346"
            },
            {
              "value1": "={{ $json[\"payload\"][\"questions_and_responses\"][\"1_response\"] }}",
              "value2": "+55 31 99958-0682"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "e4a2a0aa-bfba-4844-bbcb-e39bb7c148ae",
      "name": "numeros_de_teste",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        540,
        1120
      ]
    },
    {
      "parameters": {
        "queue": "Calendly - Sessão Estratégica",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "9f9af322-1938-452c-b1aa-c1016081bf4b",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1560,
        1560
      ],
      "credentials": {
        "rabbitmq": {
          "id": "Nk5zIeZQD4nBRyYM",
          "name": "[RabbitMQ] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c863f47a-3652-4677-8835-9516d7266fe4",
      "name": "cancelamento1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -240,
        1500
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9786e3f9-4b8b-459f-8f0e-eecd8c2f9a8c",
      "name": "reagendamento1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -240,
        1640
      ]
    },
    {
      "parameters": {
        "content": "## Para consulta\n\nUtilize estes Nodes para Consultar o ID dos Campos do Deal e o ID das Pipelines e Stages no ActiveCampaign",
        "height": 494.4652796495957,
        "width": 1558.7543199104232
      },
      "id": "656cfe75-2f4a-48d6-94fc-e519436bd9fe",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealCustomFieldMeta",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Deals da Conta3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        740,
        640
      ],
      "id": "ff2f3b27-281f-4c12-9957-f12a4e9df151"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealGroups",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Pipelines e Status da Conta3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        960,
        640
      ],
      "id": "b50a85ca-72e2-47d0-b529-27afea07d90c"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "f855a9327a9219d27bf8713569e0f7e926110f6bbe180b11ad6c3a9bdb922fd7f05402c9"
            },
            {
              "name": "url_api_activecampaign",
              "value": "futureminds14016"
            }
          ]
        },
        "options": {}
      },
      "id": "982a89e5-20f9-48bd-813f-165c72616e3f",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        540,
        640
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a2247b39-4f84-4a60-bc02-4d620ada791d",
      "name": "Consulta Users da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1180,
        640
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1600,
        640
      ],
      "id": "8d69f19c-ce89-4e0d-b9b8-fc058b20d566"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1400,
        640
      ],
      "id": "afafe87f-b694-4e35-8d73-446f1457fbca"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "value2": "xyz"
            },
            {
              "value1": "={{ $node[\"Evento\"].json[\"payload\"][\"event_type\"][\"slug\"] }}",
              "value2": "abc"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "42b6768a-4292-4253-a7ef-127b3f021460",
      "name": "eventos_permitidos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        1080
      ]
    },
    {
      "parameters": {
        "content": "## Observação\n\n- Use esse node se o cliente tiver apenas alguns eventos do Calendly que devem entrar na automação",
        "height": 318.2284579191374,
        "width": 468.74007115902964
      },
      "id": "5904ee42-8cd5-4e4d-a031-69a374dd6d3e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        920
      ]
    },
    {
      "parameters": {
        "content": "## Observação\n\n- Use esse node para permitir que apenas alguns números entrem na automação para testar",
        "height": 318.2284579191374,
        "width": 468.74007115902964
      },
      "id": "c6d6f8e0-775e-449e-9e1d-3692981d3933",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        1000
      ]
    },
    {
      "parameters": {
        "content": "## Observação\n\n- Use os Nodes abaixo para armazenar JSON de execuções de cancelamento e reagendamento para testes",
        "height": 545.775102619946,
        "width": 468.74007115902964
      },
      "id": "3ba44a5a-33e1-44ba-810e-31f602486c91",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        1300
      ]
    },
    {
      "parameters": {
        "queue": "Calendly - Reagendamentos",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "6dcb845d-1114-4145-9ff9-284b4b94e9f7",
      "name": "entra_na_fila1",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1560,
        1380
      ],
      "credentials": {
        "rabbitmq": {
          "id": "Nk5zIeZQD4nBRyYM",
          "name": "[RabbitMQ] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "queue": "Calendly - Cancelamentos",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "751fb32f-05c7-4c72-88f5-8d7bcf1894c1",
      "name": "entra_na_fila2",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1560,
        1740
      ],
      "credentials": {
        "rabbitmq": {
          "id": "Nk5zIeZQD4nBRyYM",
          "name": "[RabbitMQ] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealTasktypes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "b47ff3a8-c165-4c43-9f3e-c144bfc14170",
      "name": "Listar Tipos de Task da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1800,
        640
      ]
    },
    {
      "parameters": {},
      "id": "51bdc3ff-4a6e-4564-bc98-06c13ec5807f",
      "name": "reagendamento",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        1380
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $item(\"0\").$node[\"Evento\"].json[\"body\"][\"payload\"];\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date($node[\"Evento\"].json[\"body\"][\"createdAt\"] || '');\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Acesse a data do JSON\nconst canceledAt = $node[\"Evento\"].json[\"body\"][\"createdAt\"] || '';\n\n// Crie um objeto de data a partir da string\nconst data = new Date(canceledAt);\n\n// Extraia o ano, mês e dia\nconst ano = data.getFullYear();\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Adiciona zero à esquerda, se necessário\nconst dia = String(data.getDate()).padStart(2, '0');\n\n// Crie a string formatada no formato YYYY-MM-DD\nconst dataReagendamento = `${ano}-${mes}-${dia}`;\n\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date($node[\"Evento\"].json[\"body\"][\"payload\"][\"startTime\"] || '');\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n\nfunction obterDiaSemana(dataISO) {\n  const diasDaSemana = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];\n  \n  const dataObj = new Date(dataISO);\n  const indiceDia = dataObj.getUTCDay();\n\n  return diasDaSemana[indiceDia];\n}\n\nconst diaSemana = obterDiaSemana(startTime);\nconst diaSemanaAntigo = obterDiaSemana($node[\"Evento\"].json[\"body\"][\"payload\"][\"rescheduleStartTime\"] || '');\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date($node[\"Evento\"].json[\"body\"][\"payload\"][\"endTime\"] || '');\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o telefone do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nconst telefoneRaw = $node[\"Evento\"].json[\"body\"][\"payload\"][\"responses\"][\"WhatsApp\"][\"value\"] || '';\nlet telefone = telefoneRaw.replace(/[\\+\\s-]/g, '');\nconst ddd = telefone.slice(2, 4);\n\nif (Number(ddd) > 28) {\n  telefone = '55' + ddd + telefone.slice(-8);\n} else {\n  telefone = '55' + ddd + telefone.slice(-9).replace(/\\s/g, '');\n}\n\n\n// Pegar o Instagram do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nconst instagramRaw = $node[\"Evento\"].json[\"body\"][\"payload\"][\"responses\"][\"title\"][\"value\"] || '';\nconst instagram = instagramRaw.toLowerCase().replace('@', '');\n\nfunction formatarNome(nome) {\n  if (nome) {\n    const palavras = nome.trim().split(/\\s+/);\n\n    const palavrasMinusculas = ['de', 'dos', 'da', 'e', 'do', 'das', 'di', 'du', 'o', 'a', 'u'];\n\n    for (let i = 0; i < palavras.length; i++) {\n      const palavraAtual = palavras[i].toLowerCase();\n      if (i === 0 || i === palavras.length - 1 || !palavrasMinusculas.includes(palavraAtual)) {\n        palavras[i] = palavraAtual.charAt(0).toUpperCase() + palavraAtual.slice(1);\n      } else {\n        palavras[i] = palavraAtual;\n      }\n    }\n\n    return palavras.join(\" \");\n  }\n  return '';\n}\n\n// Usar a função formatarNome para formatar o nome\nconst name = formatarNome($node[\"Evento\"].json[\"body\"][\"payload\"][\"responses\"][\"name\"][\"value\"] || '');\n\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = $node[\"Evento\"].json[\"body\"][\"payload\"][\"responses\"][\"email\"][\"value\"].toLowerCase() || '';\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n\n// Pegar o parâmetro \"created_at\" e converter para o formato YYYY-MM-DD\nconst newCreatedAt = new Date($node[\"Evento\"].json[\"body\"][\"createdAt\"] || '');\nconst newDataAgendamento = newCreatedAt.toISOString().slice(0, 10);\n\n// Pegar o parâmetro \"start_time\" e converter para o formato YYYY-MM-DD\nconst newStartTime = new Date($node[\"Evento\"].json[\"body\"][\"payload\"][\"startTime\"] || '');\nconst newDataInicio = newStartTime.toISOString().split('T')[0];\n\n// Retornar os resultados\nreturn {\n  'Data em que foi feito o Reagendamento': dataReagendamento,\n  'Data de Início': dataInicio,\n  'Lembrete 24h': dataLembrete24h,\n  'Lembrete 2h': dataLembrete2h,\n  'Data de Término': dataTermino,\n  'Telefone': telefone,\n  'Instagram': instagram,\n  'Nome': name,\n  'Dia da Semana': diaSemana,\n  'Dia da Semana Antigo': diaSemanaAntigo,\n  'Email válido': isEmailValid,\n  'Email': email,\n  'data_inicio_evento_novo': newDataInicio,\n  'data_agendamento_evento_novo': newDataAgendamento\n};\n"
      },
      "id": "0947cae3-77b7-4be9-b3c3-38380c4582fd",
      "name": "formata_dados2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1220,
        1380
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"formata_dados2\"].json[\"Nome\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"formata_dados2\"].json[\"Email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"formata_dados2\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados2\"].json[\"Telefone\"] }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"bookingId\"] }}"
            },
            {
              "name": "Responsável pelo Evento",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"organizer\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"organizer\"][\"email\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data de Início\"].split('T')[0] }}"
            },
            {
              "name": "Data de Lembrete 24h",
              "value": "={{ $node[\"formata_dados2\"].json[\"Lembrete 24h\"] }}"
            },
            {
              "name": "Data de Lembrete 2h",
              "value": "={{ $node[\"formata_dados2\"].json[\"Lembrete 2h\"] }}"
            },
            {
              "name": "Data em que foi feito o Reagendamento",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data em que foi feito o Reagendamento\"] }}"
            },
            {
              "name": "Data de Término",
              "value": "={{ $node[\"formata_dados2\"].json[\"Data de Término\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento",
              "value": "={{ $node[\"formata_dados2\"].json[\"Dia da Semana\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"utmParams\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"utmParams\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"utmParams\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"utmParams\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"utmParams\"][\"utm_content\"] }}"
            },
            {
              "name": "Motivo do Reagendamento",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"responses\"][\"rescheduleReason\"][\"value\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"uid\"] }}"
            },
            {
              "name": "ID do Evento Antigo",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"rescheduleId\"] }}"
            },
            {
              "name": "Tipo de Serviço",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"eventTitle\"] }}"
            },
            {
              "name": "API-KEY"
            },
            {
              "name": "ID do Campo ID do Agendamento"
            },
            {
              "name": "ID do Campo InviteeID"
            },
            {
              "name": "ID do Campo Horário Agendado"
            },
            {
              "name": "ID do Campo Data do Agendamento"
            },
            {
              "name": "ID do Campo Dia da Semana do Agendamento"
            },
            {
              "name": "ID do Campo InviteeID"
            },
            {
              "name": "Flow de Confirmação de Reagendamento"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"videoCallData\"][\"url\"] }}"
            },
            {
              "name": "ID do Cliente Antigo",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"rescheduleUid\"] }}"
            },
            {
              "name": "data_de_inicio_antigo",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"rescheduleStartTime\"].split('T')[0] }}"
            },
            {
              "name": "hora_de_inicio_antigo",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"rescheduleStartTime\"].split('T')[1].split('-')[0] }}"
            },
            {
              "name": "Link da Reunião Antigo",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"videoCallData\"][\"url\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento Antigo",
              "value": "={{ $node[\"formata_dados2\"].json[\"Dia da Semana Antigo\"] }}"
            },
            {
              "name": "Data do Agendamento Antigo",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"createdAt\"].split('T')[0] }} {{ $node[\"Evento\"].json[\"body\"][\"createdAt\"].split('T')[1].slice(0,5) }}"
            },
            {
              "name": "Responsável pelo Evento Antigo",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"organizer\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Responsável Antigo",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"organizer\"][\"email\"] }}"
            },
            {
              "name": "data_de_inicio_novo",
              "value": "={{ $node[\"formata_dados2\"].json[\"data_inicio_evento_novo\"] }}"
            },
            {
              "name": "data_agendamento_novo",
              "value": "={{ $node[\"formata_dados2\"].json[\"data_agendamento_evento_novo\"] }}"
            },
            {
              "name": "hora_de_inicio_novo",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"startTime\"].split('T')[1].slice(0,5) }}"
            },
            {
              "name": "id_campo_id_bd_botconversa"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            }
          ]
        },
        "options": {}
      },
      "id": "db8e3dd3-937b-4f13-b84a-3c33f52dd970",
      "name": "Dados do Reagendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1380,
        1380
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"formata_dados\"].json[\"Nome\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"formata_dados\"].json[\"Email\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node[\"formata_dados\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"formata_dados\"].json[\"Telefone\"] }}"
            },
            {
              "name": "Tipo de Serviço",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"eventTitle\"] }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"bookingId\"] }}"
            },
            {
              "name": "Responsável pelo Evento",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"organizer\"][\"name\"] }}"
            },
            {
              "name": "E-mail do Responsável",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"organizer\"][\"email\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"formata_dados\"].json[\"Data de Início\"] }}"
            },
            {
              "name": "Data de Lembrete 24h",
              "value": "={{ $node[\"formata_dados\"].json[\"Lembrete 24h\"] }}"
            },
            {
              "name": "Data de Lembrete 2h",
              "value": "={{ $node[\"formata_dados\"].json[\"Lembrete 2h\"] }}"
            },
            {
              "name": "Data em que foi feito o Agendamento",
              "value": "={{ $node[\"formata_dados\"].json[\"Data em que foi feito o Agendamento\"] }}"
            },
            {
              "name": "Data de Término",
              "value": "={{ $node[\"formata_dados\"].json[\"Data de Término\"] }}"
            },
            {
              "name": "Dia da Semana de Início do Evento",
              "value": "={{ $node[\"formata_dados\"].json[\"Dia da Semana\"] }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"metadata\"][\"videoCallUrl\"] }}"
            },
            {
              "name": "UTM_Source",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"metadata\"][\"utm_source\"] }}"
            },
            {
              "name": "UTM_Campaign",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"metadata\"][\"utm_campaign\"] }}"
            },
            {
              "name": "UTM_Term",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"metadata\"][\"utm_term\"] }}"
            },
            {
              "name": "UTM_Medium",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"metadata\"][\"utm_medium\"] }}"
            },
            {
              "name": "UTM_Content",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"metadata\"][\"utm_content\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"uid\"] }}"
            },
            {
              "name": "ID do Campo ID do Agendamento"
            },
            {
              "name": "ID do Campo InviteeID"
            },
            {
              "name": "Flow de Confirmação de Agendamento"
            },
            {
              "name": "API-KEY"
            },
            {
              "name": "ID Link da Reunião"
            },
            {
              "name": "ID do Campo Dia da Semana do Agendamento"
            },
            {
              "name": "ID do Campo Data do Agendamento"
            },
            {
              "name": "ID do Campo Horário Agendado"
            },
            {
              "name": "id_campo_id_bd_botconversa"
            },
            {
              "name": "id_campo_id_bd_clickup",
              "value": "88027d13-9278-46e4-b612-c3a230d48a4a"
            },
            {
              "name": "id_campo_id_clickup_botconversa"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            },
            {
              "name": "Instagram",
              "value": "={{ $node[\"formata_dados\"].json[\"Instagram\"] }}"
            },
            {
              "name": "sck",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"metadata\"][\"sck\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8dd9e2df-9ece-402a-8171-cb186c23a9b6",
      "name": "Dados do Agendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1380,
        1560
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $item(\"0\").$node[\"Evento\"].json[\"body\"];\n\n// Pegar o parâmetro \"created_at\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst createdAt = new Date($node[\"Evento\"].json[\"body\"][\"createdAt\"] || '');\nconst dataAgendamento = createdAt.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nfunction obterDiaSemana(dataISO) {\n  const diasDaSemana = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];\n  \n  const dataObj = new Date(dataISO);\n  const indiceDia = dataObj.getUTCDay();\n\n  return diasDaSemana[indiceDia];\n}\n\n// Pegar o parâmetro \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst startTime = new Date($node[\"Evento\"].json[\"body\"][\"payload\"][\"startTime\"] || '');\nconst dataInicio = startTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 24 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete24h = new Date(startTime.getTime() - 24 * 60 * 60 * 1000);\nconst dataLembrete24h = lembrete24h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Subtrair 2 horas do \"start_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst lembrete2h = new Date(startTime.getTime() - 2 * 60 * 60 * 1000);\nconst dataLembrete2h = lembrete2h.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o parâmetro \"end_time\" e converter para o formato DD/MM/YYYY HH:mm no fuso horário de São Paulo\nconst endTime = new Date($node[\"Evento\"].json[\"body\"][\"payload\"][\"endTime\"] || '');\nconst dataTermino = endTime.toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Pegar o telefone do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nconst telefoneRaw = $node[\"Evento\"].json[\"body\"][\"payload\"][\"responses\"][\"WhatsApp\"][\"value\"] || '';\nlet telefone = telefoneRaw.replace(/[\\+\\s-]/g, '');\nconst ddd = telefone.slice(2, 4);\n\nif (Number(ddd) > 28) {\n  telefone = '55' + ddd + telefone.slice(-8);\n} else {\n  telefone = '55' + ddd + telefone.slice(-9).replace(/\\s/g, '');\n}\n\n\n// Pegar o Instagram do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nconst instagramRaw = $node[\"Evento\"].json[\"body\"][\"payload\"][\"responses\"][\"title\"][\"value\"] || '';\nconst instagram = instagramRaw.toLowerCase().replace('@', '');\n\n// Função para formatar a primeira letra de cada palavra em maiúsculo\nfunction formatarPrimeiraLetraMaiuscula(str) {\n  const palavras = str.toLowerCase().split(\" \");\n\n  for (let i = 0; i < palavras.length; i++) {\n    palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n  }\n\n  return palavras.join(\" \");\n}\n\nconst diaSemana = obterDiaSemana(startTime)\n\n// Formatar o parâmetro \"name\" do objeto \"invitee\" com a primeira letra de cada palavra em maiúsculo\nconst name = formatarPrimeiraLetraMaiuscula($node[\"Evento\"].json[\"body\"][\"payload\"][\"responses\"][\"name\"][\"value\"] || '');\n\n// Validar se o parâmetro \"email\" é um email válido e colocar todas as letras em minúsculo\nconst email = $node[\"Evento\"].json[\"body\"][\"payload\"][\"responses\"][\"email\"][\"value\"].toLowerCase() || '';\nconst isEmailValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n// Retornar os resultados\nreturn {\n  'Data em que foi feito o Agendamento': dataAgendamento,\n  'Data de Início': dataInicio,\n  'Lembrete 24h': dataLembrete24h,\n  'Lembrete 2h': dataLembrete2h,\n  'Dia da Semana': diaSemana,\n  'Data de Término': dataTermino,\n  'Telefone': telefone,\n  'Instagram': instagram,\n  'Nome': name,\n  'Email válido': isEmailValid,\n  'Email': email\n};\n"
      },
      "id": "b4ef370d-c16c-443f-a8ac-16d6cdbd2f87",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1220,
        1560
      ]
    },
    {
      "parameters": {},
      "id": "14fb2e1b-de15-4cc0-9301-7e938bad418b",
      "name": "cancelamento",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1060,
        1740
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $item(\"0\").$node[\"Evento\"].json[\"body\"][\"payload\"] || '';\n\n// Acesse a data do JSON\nconst canceledAt =  $node[\"Evento\"].json[\"body\"][\"createdAt\"] || '';\n\n// Crie um objeto de data a partir da string\nconst data = new Date(canceledAt);\n\n// Extraia o ano, mês e dia\nconst ano = data.getFullYear();\nconst mes = String(data.getMonth() + 1).padStart(2, '0'); // Adiciona zero à esquerda, se necessário\nconst dia = String(data.getDate()).padStart(2, '0');\n\nfunction obterDiaSemana(dataISO) {\n  const diasDaSemana = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];\n  \n  const dataObj = new Date(dataISO);\n  const indiceDia = dataObj.getUTCDay();\n\n  return diasDaSemana[indiceDia];\n}\n\nconst diaExtenso = obterDiaSemana($node[\"Evento\"].json[\"body\"][\"payload\"][\"startTime\"]) || '';\n\nfunction formatarNome(nome) {\n  if (nome) {\n    const palavras = nome.trim().split(/\\s+/);\n\n    const palavrasMinusculas = ['de', 'dos', 'da', 'e', 'do', 'das', 'di', 'du', 'o', 'a', 'u'];\n\n    for (let i = 0; i < palavras.length; i++) {\n      const palavraAtual = palavras[i].toLowerCase();\n      if (i === 0 || i === palavras.length - 1 || !palavrasMinusculas.includes(palavraAtual)) {\n        palavras[i] = palavraAtual.charAt(0).toUpperCase() + palavraAtual.slice(1);\n      } else {\n        palavras[i] = palavraAtual;\n      }\n    }\n\n    return palavras.join(\" \");\n  }\n  return '';\n}\n\n\n// Crie a string formatada no formato YYYY-MM-DD\nconst dataCancelamento = `${ano}-${mes}-${dia}`;\n\n// Pegar o telefone do array \"questions_and_answers\" no objeto \"invitee\" e formatá-lo\nconst telefoneRaw = $node[\"Evento\"].json[\"body\"][\"payload\"][\"userFieldsResponses\"][\"WhatsApp\"][\"value\"] || '';\nlet telefone = telefoneRaw.replace(/[\\+\\s-]/g, '');\nconst ddd = telefone.slice(2, 4);\n\nif (Number(ddd) > 28) {\n  telefone = '55' + ddd + telefone.slice(-8);\n} else {\n  telefone = '55' + ddd + telefone.slice(-9).replace(/\\s/g, '');\n}\n\n// Retornar os resultados\nreturn {\n  'Telefone': telefone,\n  'Data do Cancelamento': dataCancelamento,\n  'Dia da Semana': diaExtenso\n};\n"
      },
      "id": "277bde15-f930-4468-bca6-62cefd3197b4",
      "name": "formata_dados1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1220,
        1740
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"responses\"][\"name\"][\"value\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"responses\"][\"email\"][\"value\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "=+{{ $node.formata_dados1.json.Telefone }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node.formata_dados1.json.Telefone }}"
            },
            {
              "name": "ID do Evento",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"bookingId\"] }}"
            },
            {
              "name": "Data do Cancelamento",
              "value": "={{ $node[\"formata_dados1\"].json[\"Data do Cancelamento\"] }}"
            },
            {
              "name": "ID do Cliente",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"uid\"] }}"
            },
            {
              "name": "API-KEY"
            },
            {
              "name": "ID do Campo ID do Agendamento"
            },
            {
              "name": "ID do Campo InviteeID"
            },
            {
              "name": "ID do Campo Horário Agendado"
            },
            {
              "name": "ID do Campo Data do Agendamento"
            },
            {
              "name": "ID do Campo Dia da Semana do Agendamento"
            },
            {
              "name": "ID do Campo InviteeID"
            },
            {
              "name": "Flow de Confirmação de Cancelamento"
            },
            {
              "name": "ID do Campo Motivo do Cancelamento"
            },
            {
              "name": "Motivo do Cancelamento",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"cancellationReason\"] }}"
            },
            {
              "name": "Data de Início",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"startTime\"].split('T')[0] }}"
            },
            {
              "name": "Hora de Início",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"startTime\"].split('T')[1].split('+')[0] }}"
            },
            {
              "name": "Link da Reunião",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"metadata\"][\"videoCallUrl\"] }}"
            },
            {
              "name": "Serviço",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"eventTitle\"] }}"
            },
            {
              "name": "Dia da Semana do Evento",
              "value": "={{ $node[\"formata_dados1\"].json[\"Dia da Semana\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"utmParams\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"utmParams\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"utmParams\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"utmParams\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"payload\"][\"utmParams\"][\"utm_content\"] }}"
            },
            {
              "name": "data_agendamento",
              "value": "={{ $node[\"Evento\"].json[\"body\"][\"createdAt\"].split('T')[0] }}"
            },
            {
              "name": "id_campo_id_bd_botconversa"
            },
            {
              "name": "funil",
              "value": "sessao_estrategica"
            },
            {
              "name": "variacao_do_funil",
              "value": "v1"
            }
          ]
        },
        "options": {}
      },
      "id": "b2cf1e0c-73be-4362-b123-eca02c9e1de2",
      "name": "Dados do Cancelamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1380,
        1740
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chamada-callcom",
        "options": {}
      },
      "id": "f260a705-27f6-4e0b-8b9f-05cfa7c9c68c",
      "name": "Evento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        480,
        1560
      ],
      "webhookId": "a8129740-0cac-4515-a33c-a278380fca5b"
    }
  ],
  "pinData": {
    "Evento": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookwizard.automagicbots.com.br",
            "user-agent": "node",
            "content-length": "2641",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-cal-signature-256": "no-secret-provided",
            "x-forwarded-for": "5.161.60.218",
            "x-forwarded-host": "n8nwebhookwizard.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "757403d7b840",
            "x-real-ip": "5.161.60.218"
          },
          "params": {},
          "query": {},
          "body": {
            "triggerEvent": "BOOKING_RESCHEDULED",
            "createdAt": "2024-08-05T20:44:35.402Z",
            "payload": {
              "bookerUrl": "https://agenda-wizard.automagicbots.com.br",
              "type": "alinhamento",
              "title": "Alinhamento sobre Jornada dos Pioneiros entre Jornada dos Pioneros e Mateus Diniz",
              "description": "****⚠️ Não aceitamos remarcações!****\n\n<p><br></p>\n\nEsteja certo que poderá comparecer no dia e horário escolhidos.\n\n<p><br></p>\n\n****⚠️ Caso não tenha um horário de sua disponibilidade, entre em contato conosco para realizar seu agendamento, através do link abaixo. ⬇️****\n\n<p><br></p>\n\n[WhatsApp da Equipe do Wizard](https://wa.me/553588210043)",
              "additionalNotes": "",
              "customInputs": {},
              "startTime": "2024-08-09T16:00:00Z",
              "endTime": "2024-08-09T16:40:00Z",
              "organizer": {
                "id": 1,
                "name": "Jornada dos Pioneros",
                "email": "automagicbots.auth2@gmail.com",
                "username": "jornadadospioneros",
                "timeZone": "America/Sao_Paulo",
                "language": {
                  "locale": "pt-BR"
                },
                "timeFormat": "HH:mm",
                "utcOffset": -180
              },
              "responses": {
                "name": {
                  "label": "your_name",
                  "value": "Mateus Diniz"
                },
                "email": {
                  "label": "email_address",
                  "value": "mateusdiniz@automagicbots.com.br"
                },
                "location": {
                  "label": "location"
                },
                "WhatsApp": {
                  "label": "WhatsApp",
                  "value": "+5562981196678"
                },
                "title": {
                  "label": "what_is_this_meeting_about"
                },
                "notes": {
                  "label": "additional_notes"
                },
                "guests": {
                  "label": "additional_guests",
                  "value": []
                },
                "rescheduleReason": {
                  "label": "reason_for_reschedule"
                }
              },
              "userFieldsResponses": {
                "WhatsApp": {
                  "label": "WhatsApp",
                  "value": "+5562981196678"
                }
              },
              "attendees": [
                {
                  "email": "mateusdiniz@automagicbots.com.br",
                  "name": "Mateus Diniz",
                  "firstName": "",
                  "lastName": "",
                  "timeZone": "America/Sao_Paulo",
                  "language": {
                    "locale": "pt-BR"
                  },
                  "utcOffset": -180
                }
              ],
              "location": "",
              "destinationCalendar": null,
              "hideCalendarNotes": false,
              "requiresConfirmation": false,
              "eventTypeId": 2,
              "seatsShowAttendees": true,
              "seatsPerTimeSlot": null,
              "seatsShowAvailabilityCount": true,
              "schedulingType": null,
              "iCalSequence": 1,
              "uid": "k7WMH8y4ft5B2riixeXUDH",
              "appsStatus": [],
              "eventTitle": "Alinhamento sobre Jornada dos Pioneiros",
              "eventDescription": "****⚠️ Não aceitamos remarcações!****\n\n<p><br></p>\n\nEsteja certo que poderá comparecer no dia e horário escolhidos.\n\n<p><br></p>\n\n****⚠️ Caso não tenha um horário de sua disponibilidade, entre em contato conosco para realizar seu agendamento, através do link abaixo. ⬇️****\n\n<p><br></p>\n\n[WhatsApp da Equipe do Wizard](https://wa.me/553588210043)",
              "price": 0,
              "currency": "usd",
              "length": 40,
              "bookingId": 3,
              "rescheduleId": 2,
              "rescheduleUid": "mTyAg2MpX1cKQswzn41VaW",
              "rescheduleStartTime": "2024-08-08T14:00:00Z",
              "rescheduleEndTime": "2024-08-08T14:40:00Z",
              "metadata": {},
              "status": "ACCEPTED"
            }
          },
          "webhookUrl": "https://n8nwebhookwizard.automagicbots.com.br/webhook/chamada-callcom",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "YH3cb3FC5zDEa292"
  },
  "staticData": {
    "node:Evento": {}
  },
  "tags": [
    {
      "createdAt": "2024-07-25T14:26:42.069Z",
      "updatedAt": "2024-07-25T14:26:42.069Z",
      "id": "wmjovYZV7zBaApaS",
      "name": "[CALENDLY]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-05T20:54:00.947Z",
  "versionId": "fb99b0b5-c4d6-4dc2-bb87-33330bb07a4f"
}