workflows/⌚[WIZARD] - LEMBRETE | 1 HORA ANTES DA CALL.json
{
  "active": true,
  "connections": {
    "a_cada_hora": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_agendamentos_do_dia": {
      "main": [
        [
          {
            "node": "inexistente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_linhas": {
      "main": [
        [
          {
            "node": "horarios_formatados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera_3_segundos": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inexistente": {
      "main": [
        [
          {
            "node": "sem_acao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelado": {
      "main": [
        [
          {
            "node": "sem_acao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "esta_na_hora": {
      "main": [
        [
          {
            "node": "pesquisa_lead_via_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "espera_3_segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculadora": {
      "main": [
        [
          {
            "node": "esta_na_hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "horarios_formatados": {
      "main": [
        [
          {
            "node": "calculadora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inexistente1": {
      "main": [
        [
          {
            "node": "separa_em_linhas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "item_unico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "item_unico": {
      "main": [
        [
          {
            "node": "envia_msg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_via_id": {
      "main": [
        [
          {
            "node": "inexistente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "pesquisa_agendamentos_do_dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_msg1": {
      "main": [
        [
          {
            "node": "espera_3_segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-17T22:44:37.989Z",
  "id": "NIDDFhpKrrtnrNNY",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[WIZARD] - LEMBRETE | 1 HORA ANTES DA CALL",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            },
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 7
            },
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 9
            },
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 10
            },
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 11
            },
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 12
            },
            {
              "triggerAtHour": 12,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 13
            },
            {
              "triggerAtHour": 13,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 14
            },
            {
              "triggerAtHour": 14,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 15
            },
            {
              "triggerAtHour": 15,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 16
            },
            {
              "triggerAtHour": 16,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 17
            },
            {
              "triggerAtHour": 17,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 18
            },
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 19
            },
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 20
            },
            {
              "triggerAtHour": 20,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 21
            },
            {
              "triggerAtHour": 21,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "1270f61b-fc9b-40ce-96af-cc1dcc113903",
      "name": "a_cada_hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        500,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "where": {
          "values": [
            {
              "column": "data_de_inicio",
              "value": "={{ $now.toFormat('dd/MM/yyyy').slice(6,10) }}-{{ $now.toFormat('dd/MM/yyyy').slice(3,5) }}-{{ $now.toFormat('dd/MM/yyyy').slice(0,2) }}"
            }
          ]
        },
        "options": {
          "detailedOutput": false
        }
      },
      "id": "e7cc975c-6068-49cd-b554-76dec4c552bd",
      "name": "pesquisa_agendamentos_do_dia",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        900,
        1200
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a4ca50f9-845b-410c-9826-f28e329a6d1e",
      "name": "separa_em_linhas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1480,
        1240
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"separa_em_linhas\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "3dc44f51-6cd0-43a9-aa03-d8e65d20c78b",
      "name": "pesquisa_lead_via_id",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2300,
        960
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "4671d897-7da8-4ead-aa29-815fba80625e",
      "name": "espera_3_segundos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3180,
        1340
      ],
      "webhookId": "3f04edd2-2f7d-4b98-9635-32d743824e37"
    },
    {
      "parameters": {},
      "id": "2634e600-d7ce-42f3-817a-43ab23e7a8fc",
      "name": "fim",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1700,
        1340
      ]
    },
    {
      "parameters": {},
      "id": "0b460a4c-e21d-45f4-b1f0-b57af87ae150",
      "name": "sem_acao",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1480,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_agendamentos_do_dia\"].json[\"success\"] }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "9ef87957-43fe-4bf3-a964-d0a91d6930ee",
      "name": "inexistente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1080,
        1200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_agendamentos_do_dia\"].json[\"status_evento\"] }}",
              "value2": "Cancelado"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "b1f613b2-70c1-4b8c-a6da-a605705cf9a0",
      "name": "cancelado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1280,
        1220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"calculadora\"].json[\"No Intervalo\"].toString() }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "64d3e34d-1aa0-446f-b68b-e7b81dd8e3ec",
      "name": "esta_na_hora",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2100,
        1140
      ]
    },
    {
      "parameters": {
        "jsCode": "const horaInicio = $node[\"horarios_formatados\"].json[\"HORA INICIO\"];\nconst agora = $node[\"horarios_formatados\"].json[\"AGORA\"];\n\n// Divida a hora de início e a hora atual em horas e minutos\nconst [horaInicioHora, horaInicioMinuto] = horaInicio.split(':').map(Number);\nconst [agoraHora, agoraMinuto] = agora.split(':').map(Number);\n\n// Calcule a diferença em minutos\nconst diferencaMinutos = (agoraHora - horaInicioHora) * 60 + agoraMinuto - horaInicioMinuto;\n\n// Crie um objeto com os resultados\nconst resultado = {\n  \"HORA INICIO\": horaInicio,\n  \"AGORA\": agora,\n  \"Diferença em Minutos\": diferencaMinutos,\n  \"No Intervalo\": diferencaMinutos >= -70 && diferencaMinutos <= -50\n};\n\nreturn resultado;\n"
      },
      "id": "184d7f6c-59f7-475c-878f-fbe890f404ec",
      "name": "calculadora",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        1140
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "HORA INICIO",
              "value": "={{ $node[\"separa_em_linhas\"].json[\"hora_de_inicio\"].slice(0,5) }}"
            },
            {
              "name": "AGORA",
              "value": "={{ $now.toFormat('HH:mm') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0fd2055e-3682-41a6-9a8b-9b0864289dc9",
      "name": "horarios_formatados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1700,
        1140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead_via_id\"].json[\"success\"] }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "c75e4621-3046-401c-acf6-a8a29c2baea5",
      "name": "inexistente1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2480,
        960
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "2c11e917-9a92-4083-9e85-97a4302119c0",
      "name": "item_unico",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        2700,
        980
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000&search={{ $node[\"Set\"].json[\"tag_procurada\"] }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        960,
        620
      ],
      "id": "e6e03492-ecaf-485e-b8d9-729f8fd73895"
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs dos Campos e Tags no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 747.0856205721786
      },
      "id": "4af24c01-94fe-43e1-a5a0-53994e07ceb5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        760,
        620
      ],
      "id": "d08d8548-5efe-4807-a22c-2b63911cdc0c"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "f855a9327a9219d27bf8713569e0f7e926110f6bbe180b11ad6c3a9bdb922fd7f05402c9"
            },
            {
              "name": "url_api_activecampaign",
              "value": "futureminds14016"
            },
            {
              "name": "tag_procurada",
              "value": "1hora"
            }
          ]
        },
        "options": {}
      },
      "id": "cc2f054b-a92a-4c4a-a9b3-80a67b83ffc1",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        560,
        620
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://wizardevolution.automagicbots.com.br/"
            },
            {
              "name": "apikey",
              "value": "tonsb6jcp9gctcnsekdb8"
            },
            {
              "name": "instancia",
              "value": "FabricaDeVendas"
            }
          ]
        },
        "options": {}
      },
      "id": "937655f0-1473-4035-9cae-639bf2395e53",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        680,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"dados\"].json[\"url_base\"] }}message/sendText/{{ $node[\"dados\"].json[\"instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"dados\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"pesquisa_lead_via_id\"].json[\"telefone\"].replace('+','') }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Oi {{ $node[\"pesquisa_lead_via_id\"].json[\"nome\"] }}, nossa reunião começa em 1h. Já vou deixar o link aqui para você:\n\n{{ $node[\"pesquisa_agendamentos_do_dia\"].json[\"link_reuniao\"] }}"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "f1c80b84-98b5-41f6-af1f-5d98d6e0f2d3",
      "name": "envia_msg1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2880,
        980
      ],
      "typeVersion": 4
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "YH3cb3FC5zDEa292"
  },
  "staticData": {
    "node:a_cada_hora": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-07-25T14:28:57.229Z",
      "updatedAt": "2024-07-25T14:28:57.229Z",
      "id": "XorArzcqF8xd0pav",
      "name": "[LEMBRETES]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-07-25T14:29:00.709Z",
  "versionId": "ca13461a-bc71-47cc-8c09-26680ff075c5"
}