workflows/⌚[WIZARD] - CAL.COM - PARTE 2.json
{
  "active": true,
  "connections": {
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "buscarContatoChatwoot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe2": {
      "main": [
        [
          {
            "node": "é_oferta_direta1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "clickup_vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_igual1": {
      "main": [
        [
          {
            "node": "email_preenchido2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_preenchido1": {
      "main": [
        [
          {
            "node": "telefone_igual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead1": {
      "main": [
        [
          {
            "node": "id_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual3": {
      "main": [
        [
          {
            "node": "atualiza_dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido2": {
      "main": [
        [
          {
            "node": "email_igual3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido3": {
      "main": [
        [
          {
            "node": "email_igual6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual6": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead": {
      "main": [
        [
          {
            "node": "pesquisa_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead4": {
      "main": [
        [
          {
            "node": "pesquisa_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email2": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email2": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email2_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido": {
      "main": [
        [
          {
            "node": "email_igual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email1": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone1": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email2_telefone1": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_hj_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_hj_data_lake": {
      "main": [
        [
          {
            "node": "nao_existe_agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nao_existe_agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake1": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia2": {
      "main": [
        [
          {
            "node": "insert_data_data_lake",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake3": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia3": {
      "main": [
        [
          {
            "node": "update_data_data_lake1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake3": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_agendamento": {
      "main": [
        [
          {
            "node": "insert_data_utm_agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe1": {
      "main": [
        [
          {
            "node": "pesquisa_closer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_closer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_agendamento": {
      "main": [
        [
          {
            "node": "id_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_agendamento": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_agendamento1": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_agendamento1": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_agendamentos": {
      "main": [
        [
          {
            "node": "id_agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe_agendamento": {
      "main": [
        [
          {
            "node": "lead_ja_existia2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia": {
      "main": [
        [
          {
            "node": "nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake4": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nada": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe_agendamento1": {
      "main": [
        [
          {
            "node": "lead_ja_existia3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia4": {
      "main": [
        [
          {
            "node": "nada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake4": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nada1": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_closer": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe": {
      "main": [
        [
          {
            "node": "insert_data_colaborador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_colaborador": {
      "main": [
        [
          {
            "node": "id_colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_colaborador": {
      "main": [
        [
          {
            "node": "id_colaborador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador": {
      "main": [
        [
          {
            "node": "insert_data_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador1": {
      "main": [
        [
          {
            "node": "insert_data_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_closer1": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe3": {
      "main": [
        [
          {
            "node": "insert_data_colaborador1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_colaborador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_colaborador1": {
      "main": [
        [
          {
            "node": "id_colaborador2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_colaborador1": {
      "main": [
        [
          {
            "node": "id_colaborador3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador2": {
      "main": [
        [
          {
            "node": "update_data_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador3": {
      "main": [
        [
          {
            "node": "update_data_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_agendamento": {
      "main": [
        [
          {
            "node": "nao_existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "envia_msg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clickup_vazio": {
      "main": [
        [
          {
            "node": "é_oferta_direta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "campos_para_update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task3": {
      "main": [
        [
          {
            "node": "insere_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_task": {
      "main": [
        [
          {
            "node": "update_task3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3_segun": {
      "main": [
        [
          {
            "node": "divide_campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "campos_para_update": {
      "main": [
        [
          {
            "node": "divide_campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "item_unico": {
      "main": [
        [
          {
            "node": "update_task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "divide_campos": {
      "main": [
        [
          {
            "node": "add_ids",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "item_unico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_ids": {
      "main": [
        [
          {
            "node": "3_segun",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_task1": {
      "main": [
        [
          {
            "node": "update_task4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task4": {
      "main": [
        [
          {
            "node": "atualiza_clickup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task1": {
      "main": [
        [
          {
            "node": "telefone_preenchido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "nao_existe2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_clickup": {
      "main": [
        [
          {
            "node": "telefone_preenchido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscarContatoChatwoot1": {
      "main": [
        [
          {
            "node": "existe_chatwoot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe_chatwoot1": {
      "main": [
        [
          {
            "node": "atualizarContatoChatwoot1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "criarContatoChatwoot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criarContatoChatwoot1": {
      "main": [
        [
          {
            "node": "pesquisa_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizarContatoChatwoot1": {
      "main": [
        [
          {
            "node": "pesquisa_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entra_na_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é_oferta_direta": {
      "main": [
        [
          {
            "node": "cria_task2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task": {
      "main": [
        [
          {
            "node": "atualiza_clickup1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_task2": {
      "main": [
        [
          {
            "node": "update_task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_clickup1": {
      "main": [
        [
          {
            "node": "telefone_preenchido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é_oferta_direta1": {
      "main": [
        [
          {
            "node": "cria_task3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_task3": {
      "main": [
        [
          {
            "node": "update_task5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_task5": {
      "main": [
        [
          {
            "node": "insere_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "nao_existe3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-12T22:44:41.305Z",
  "id": "ssNk9z5di7h1KV9j",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[WIZARD] - CAL.COM - PARTE 2",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"fields\"][\"redelivered\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "351471bb-6e5b-41f5-a6b8-41a90cbd3a8d",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -380,
        1160
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "2bcaa34c-d513-455c-9d98-660f9c28dcf3",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -160,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "fadb095f-cbf4-4cf0-85f9-246cfd72cfa2",
      "name": "nao_existe2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $json[\"id_lead\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "2625bbd3-f8ee-4823-b263-0244ab410865",
      "name": "pesquisa_lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3300,
        1040
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"telefone\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        }
      },
      "id": "ed13dd14-5c39-4cbf-ba97-819c81fa597f",
      "name": "telefone_igual1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2260,
        1480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"telefone\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e31c38a2-a83d-4ec1-900f-f0b5a9265436",
      "name": "telefone_preenchido1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2060,
        1520
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "d1787950-2ac5-469f-8722-611d11b48022",
      "name": "insert_data_utm_lead1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2320,
        1040
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "a1c33e22-788b-42d3-a14b-cfa18017d030",
      "name": "email_igual3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2600,
        1300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "49147228-9472-47f7-82b0-118f6179dec8",
      "name": "email_preenchido2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2440,
        1380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "886ee853-9266-4720-904e-76a8cb8365e3",
      "name": "email_preenchido3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2420,
        1860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "104bd1e8-9f77-4551-a9f0-4dec6031efe5",
      "name": "email_igual6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2620,
        1780
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a59bf036-fb31-41ce-93a9-66c47bee925c",
      "name": "id_lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3120,
        1220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"insere_dados\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "057a2425-ed8f-41c8-b9b8-d8b3c2504f25",
      "name": "id_lead4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2480,
        1040
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "id_clickup",
              "value": "={{ $node[\"cria_task3\"].runIndex >= 0      ?   $node[\"cria_task3\"].json[\"id\"] : $node[\"cria_task\"].json[\"id\"]  }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "ca66441a-ba60-4ecd-8052-b7c2f8c69ada",
      "name": "insere_dados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2140,
        1040
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] || '-----------------------'}}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"]|| '-----------------------' }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"]|| '-----------------------' }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"]|| '-----------------------' }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "85d8113a-7f36-4b52-bc0b-0b7b94a4699c",
      "name": "pesquisa_lead1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        480,
        1180
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "96f19106-06a0-4721-95a8-b1be06998e00",
      "name": "atualiza_dados_email2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2800,
        1380
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "6375009c-523c-424c-ae76-5d907131021c",
      "name": "atualiza_dados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2800,
        1220
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "1553bf5e-9094-4721-a109-17d79c92a0be",
      "name": "atualiza_dados_email",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2600,
        1540
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "6403fea9-8d4d-4ecc-8fda-f256a5019154",
      "name": "atualiza_dados_telefone2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2820,
        1700
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "c5856b71-22da-4b9b-b9eb-e6249196cdf7",
      "name": "atualiza_dados_telefone2_email2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2820,
        1880
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "e83169ec-1c25-43e6-a462-27854768302b",
      "name": "atualiza_dados_telefone2_email",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2620,
        2000
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "63f1aad6-7dde-4be2-8040-55e7d50325cc",
      "name": "email_igual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2460,
        2240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a4c0451a-8ee7-4e82-9b98-86e20c118ca8",
      "name": "email_preenchido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2300,
        2320
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "c41c1d5a-b599-4835-945a-6688efe10cf7",
      "name": "atualiza_dados_email1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2460,
        2480
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "34de4a44-d71a-4c27-8793-87e026176021",
      "name": "atualiza_dados_telefone1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2660,
        2160
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "293e5dc1-0988-4dea-8e45-123ec16a4bf1",
      "name": "atualiza_dados_email2_telefone1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2660,
        2320
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[2] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[1] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[0] }}"
            },
            {
              "column": "qtd_agendamentos",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "d01d0852-0f4a-49ab-9914-cf27f3788700",
      "name": "insert_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6420,
        560
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[2] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[1] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[0] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "83dbc7bf-a534-45c4-84a7-6be723e51e2f",
      "name": "pesquisa_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5620,
        1060
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "af7d35b4-4efd-4705-bd3c-20efc3016c5b",
      "name": "nao_encontrou_registro_hj_data_lake",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5820,
        1060
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_agendamentos",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_agendamentos\"] + 1}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "8277b6db-c78f-4da2-88e8-58be135c52ca",
      "name": "update_data_data_lake1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6460,
        1320
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "6a4023f0-39ab-4c61-a288-5185808a589e",
      "name": "lead_ja_existia2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6220,
        640
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[2] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[1] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[0] }}"
            },
            {
              "column": "qtd_leads",
              "value": "=1"
            },
            {
              "column": "qtd_agendamentos",
              "value": "1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "c6c25b8b-6704-410f-a3ef-c9eb99fc4a96",
      "name": "insert_data_data_lake3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6420,
        720
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "dbe0f743-8355-48ed-9656-893e7f7ca2c6",
      "name": "lead_ja_existia3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6260,
        1440
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_agendamentos",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_agendamentos\"] + 1 }}"
            },
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "6856ed0e-953f-4d87-95de-663f219699f1",
      "name": "update_data_data_lake3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6460,
        1520
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}"
            },
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            },
            {
              "column": "id_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "column": "status_evento",
              "value": "=Agendado"
            },
            {
              "column": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0].split('/')[2] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0].split('/')[1] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0].split('/')[0] }}"
            },
            {
              "column": "hora_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[1] }}:00"
            },
            {
              "column": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "column": "servico",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            },
            {
              "column": "dia_da_semana_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
            },
            {
              "column": "id_responsavel",
              "value": "={{ $json[\"id_colaborador\"] }}"
            },
            {
              "column": "data_agendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[2] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[1] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[0] }} {{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[1] }}:00"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "443665c0-9c19-40b5-a5bc-cea8d1d95b2f",
      "name": "insert_data_agendamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4860,
        960
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_agendamento\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "6b37be61-5a1b-4dfa-bab0-7cfc07771dda",
      "name": "nao_existe1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3680,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_agendamento",
        "valueToMatchOn": "={{ $node[\"pesquisa_agendamento\"].json[\"id_agendamento\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}"
            },
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            },
            {
              "column": "id_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "column": "status_evento",
              "value": "=Agendado"
            },
            {
              "column": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0].split('/')[2] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0].split('/')[1] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0].split('/')[0] }}"
            },
            {
              "column": "hora_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[1] }}:00"
            },
            {
              "column": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "column": "servico",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            },
            {
              "column": "dia_da_semana_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
            },
            {
              "column": "id_responsavel",
              "value": "={{ $json[\"id_colaborador\"] }}"
            },
            {
              "column": "data_agendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[2] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[1] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[0] }} {{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[1] }}:00"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "25b9943b-b3bc-48db-93b8-9e45a5693386",
      "name": "update_data_agendamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4860,
        1340
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_agendamento",
              "value": "={{ $node[\"pesquisa_agendamento\"].json[\"id_agendamento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ad10f62c-3ac3-4395-999d-ae5cbbc3ee0c",
      "name": "id_agendamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        5060,
        1340
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_agendamento",
              "value": "={{ $node[\"insert_data_agendamento\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f4f0102a-dc74-45a4-b56e-71aec7276142",
      "name": "id_agendamento1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        5240,
        960
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "where": {
          "values": [
            {
              "column": "id_agendamento",
              "value": "={{ $json[\"id_agendamento\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "cd974d7b-65bb-4bb7-86f6-8bed7dbd0b42",
      "name": "pesquisa_agendamento1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5400,
        1060
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "agendamentos_2_utms",
          "mode": "list",
          "cachedResultName": "agendamentos_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_agendamento",
              "value": "={{ $node[\"insert_data_agendamento\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "152c6e03-5ecb-48e3-ae97-b5c4418545ef",
      "name": "insert_data_utm_agendamentos",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        5060,
        960
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_agendamento\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "8672f07f-5494-46e8-a381-6712ee29664f",
      "name": "nao_existe_agendamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6020,
        940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "bf49a5f6-085a-41b4-a11c-4834f3164c66",
      "name": "lead_ja_existia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6200,
        1080
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[2] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[1] }}-{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0].split('/')[0] }}"
            },
            {
              "column": "qtd_leads",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "f492b7d7-6c00-4e65-be14-ae40d20511cf",
      "name": "insert_data_data_lake4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6400,
        1160
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {},
      "id": "29190c8a-2b02-4074-b3dd-495d6bc478a0",
      "name": "nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6400,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_agendamento\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "03cbe303-ea27-4d47-b5c0-366808e0a28e",
      "name": "nao_existe_agendamento1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6020,
        1580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "63a7f8f9-9010-4599-906b-563df1898858",
      "name": "lead_ja_existia4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6240,
        1860
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "fbd9327c-2bad-4714-8bc6-ff177f9e44b6",
      "name": "update_data_data_lake4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        6440,
        1940
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {},
      "id": "055a3129-4864-4acd-88f2-53bb8eee86cb",
      "name": "nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6440,
        1740
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "66f774df-92c4-49a6-808d-a1384a60f58e",
      "name": "pesquisa_closer",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3900,
        1000
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_closer\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c6a139b3-1a03-440c-972b-03987bf0681a",
      "name": "nao_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4320,
        1000
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "be994971-c2c3-4bbd-8395-2493ee6af9e8",
      "name": "insert_data_colaborador",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4480,
        860
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_colaborador",
        "valueToMatchOn": "={{ $node[\"pesquisa_closer\"].json[\"id_colaborador\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "13093a22-147f-4e83-93f3-5eb72e9218a3",
      "name": "update_data_colaborador",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4480,
        1060
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"insert_data_colaborador\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3b00574b-a0e8-46a9-aa5f-d8263c22e59f",
      "name": "id_colaborador",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4660,
        860
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"pesquisa_closer\"].json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5942c1ba-5359-40a4-b234-62ab2230aa3a",
      "name": "id_colaborador1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4660,
        1060
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "41c7df73-0ac8-4bef-b0f0-a50200f90701",
      "name": "pesquisa_closer1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3920,
        1380
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_closer1\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a2e600e0-2604-4dbd-aa36-61b20040c654",
      "name": "nao_existe3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4320,
        1380
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "d32d11e4-b2ea-4e6f-a255-ab265aa7d8db",
      "name": "insert_data_colaborador1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4480,
        1240
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_colaborador",
        "valueToMatchOn": "={{ $node[\"pesquisa_closer1\"].json[\"id_colaborador\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "5d639e20-815f-47cc-9e79-1812383b77a1",
      "name": "update_data_colaborador1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        4480,
        1440
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"insert_data_colaborador1\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "84244224-3ed5-49a6-bf00-39abb66970ca",
      "name": "id_colaborador2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4660,
        1240
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"pesquisa_closer1\"].json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "212d487a-6c6e-4f68-b308-f67d3f7723d3",
      "name": "id_colaborador3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4660,
        1440
      ]
    },
    {
      "parameters": {
        "queue": "Calendly - Sessão Estratégica",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": true,
          "parallelMessages": 3
        }
      },
      "id": "031591f6-0b6e-45c9-b521-145d1822cd57",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -580,
        1160
      ],
      "credentials": {
        "rabbitmq": {
          "id": "Nk5zIeZQD4nBRyYM",
          "name": "[RabbitMQ] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000&search={{ $node[\"Set\"].json[\"tag_procurada\"] }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1920,
        560
      ],
      "id": "652b686a-092c-4524-88b3-eb8a33483f7c"
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs dos Campos e Tags no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 747.0856205721786
      },
      "id": "57c76010-ea08-4e02-91ed-0bd73741b6f8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1420,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1720,
        560
      ],
      "id": "5390d321-c3f6-42a5-a2e7-c2f11f421c8a"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "f855a9327a9219d27bf8713569e0f7e926110f6bbe180b11ad6c3a9bdb922fd7f05402c9"
            },
            {
              "name": "url_api_activecampaign",
              "value": "futureminds14016"
            },
            {
              "name": "tag_procurada",
              "value": "agendou"
            }
          ]
        },
        "options": {}
      },
      "id": "22baf49c-263a-4050-87b1-7c4dadeaa367",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1520,
        560
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "returnAll": "={{ false }}",
        "where": {
          "values": [
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "98e2e794-cb61-4a9e-9d89-cca44060d5fa",
      "name": "pesquisa_agendamento",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3480,
        1040
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "url_base",
              "value": "https://wizardevolution.automagicbots.com.br/"
            },
            {
              "name": "apikey",
              "value": "tonsb6jcp9gctcnsekdb8"
            },
            {
              "name": "instancia",
              "value": "FabricaDeVendas"
            }
          ]
        },
        "options": {}
      },
      "id": "cf8002d4-e770-4a17-a21e-bbd65d7dd80d",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        6960,
        1180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"dados\"].json[\"url_base\"] }}message/sendText/{{ $node[\"dados\"].json[\"instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $node[\"dados\"].json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "textMessage.text",
              "value": "=Fala {{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}! Aqui é o Roberto, da equipe do Wizard.\n\nEstou passando aqui para confirmar contigo o agendamento da sua reunião, que ficou marcada para {{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}.\n\nPosso confirmar o horário?"
            },
            {
              "name": "options.delay",
              "value": "={{ 1200 }}"
            },
            {
              "name": "options.presence",
              "value": "composing"
            },
            {
              "name": "options.linkPreview",
              "value": "={{ true }}"
            },
            {
              "name": "=options.mentions.everyOne",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "5d29ad70-c7bf-4de3-b9b4-0cb2b59afd1e",
      "name": "envia_msg1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        7180,
        1180
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead1\"].json[\"id_clickup\"] }}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "103a095f-b179-4c9e-bb87-c2703b95559d",
      "name": "clickup_vazio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        980,
        1560
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"cria_task\"].json[\"id\"] }}",
        "updateFields": {
          "addAssignees": "96789246"
        }
      },
      "id": "2f446bbe-5b54-4407-9109-dfd5d34ec41d",
      "name": "update_task3",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1840,
        1100
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9013333894",
        "space": "90131406741",
        "folder": "90132454606",
        "list": "901304519528",
        "name": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "additionalFields": {
          "customFieldsJson": "=[\n    {\n        \"id\": \"e85a521d-ed4b-4de5-a533-ccaaeb4a4126\",\n        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"\n    },\n    {\n        \"id\": \"146e6a0b-d2f6-4c77-9ca7-c5214de84776\",\n        \"value\": \"https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/{{   $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"] : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ? $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] : null }}/\"\n    },\n{\n        \"id\": \"667c5680-e9e2-4527-a7f2-3a13597398ae\",\n        \"value\": \"+{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(0,4)}}9{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(-8) }}\"\n    },\n{\n\"id\": \"b3c89f54-d6ab-4a13-a96f-387f13cf259d\",\n        \"value\": \"310aec21-c536-4db3-aa29-1cfbe53b2b28\"\n},\n    { \n\"id\": \"f82979a8-dad0-4e60-8517-f4c967033fc8\",\n        \"value\": \"{{$node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"]}}\" \n}\n]\n"
        }
      },
      "id": "fd62116c-faf4-403e-ae3c-d872b48296bc",
      "name": "cria_task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1660,
        1100
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "70b9dd60-3230-463d-92ca-0a353c48288a",
      "name": "3_segun",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1840,
        1620
      ],
      "webhookId": "0c04f45a-8c13-42fb-b33c-0e88197ef61e"
    },
    {
      "parameters": {
        "jsCode": "let fields = [\n  { id: 'e85a521d-ed4b-4de5-a533-ccaaeb4a4126', value: $node[\"entra_na_fila\"].json[\"E-mail do Cliente\"] || \"\" },\n  { id: '146e6a0b-d2f6-4c77-9ca7-c5214de84776', value:  'https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/' + $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"].toString() : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ?   'https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/' +        $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"].toString() : null  || \"\"},\n  { id: '667c5680-e9e2-4527-a7f2-3a13597398ae', value: '+' + $node[\"entra_na_fila\"].json.content[\"Telefone do Cliente - Formato Z-API\"].slice(0, 4) + '9' + $node[\"entra_na_fila\"].json.content[\"Telefone do Cliente - Formato Z-API\"].slice(-8) || \"\" },\n  { id: 'b3c89f54-d6ab-4a13-a96f-387f13cf259d', value: '4a24666b-e2b6-4d73-9fb4-3d6288dc6450' || \"\" },\n    { id: 'f82979a8-dad0-4e60-8517-f4c967033fc8', value: $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] || \"\" }\n];\n\nlet output = fields.map(field => {\n  return {\n    fields: [\n      { id: field.id, value: field.id === '667c5680-e9e2-4527-a7f2-3a13597398ae' ? \"'\" + field.value + \"'\" : field.value }\n    ]\n  };\n});\n\n// Flatten the output array\noutput = output.flatMap(item => item.fields);\n\nreturn output;\n"
      },
      "id": "24e30270-a4ef-45e6-90d5-19ede295ae52",
      "name": "campos_para_update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1160,
        1720
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "36f3a185-97c1-4724-80fa-9b3bf496567c",
      "name": "item_unico",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1680,
        1820
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "770db3f7-97b8-413e-bb66-4a693db6402d",
      "name": "divide_campos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1420,
        1720
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "setCustomField",
        "task": "={{ $node[\"Limit\"].json[\"id_clickup\"] }}",
        "field": "={{ $node[\"divide_campos\"].json[\"id\"] }}",
        "value": "={{ $node[\"divide_campos\"].json[\"value\"] }}"
      },
      "id": "d777b18d-856a-4d33-bf55-a047e49676e5",
      "name": "add_ids",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1660,
        1620
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"Limit\"].json[\"id_clickup\"] }}",
        "updateFields": {
          "addAssignees": "=96789246"
        }
      },
      "id": "42a6b283-f8f3-43c7-b003-34ece8f3c4d1",
      "name": "update_task1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1860,
        1820
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"cria_task1\"].json[\"id\"] }}",
        "updateFields": {
          "addAssignees": "96789246"
        }
      },
      "id": "cf13a1b3-e5c3-468b-a0aa-f5070959a188",
      "name": "update_task4",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1580,
        1440
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9013333894",
        "space": "90131406741",
        "folder": "90132454606",
        "list": "901304519528",
        "name": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "additionalFields": {
          "customFieldsJson": "=[\n    {\n        \"id\": \"e85a521d-ed4b-4de5-a533-ccaaeb4a4126\",\n        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"\n    },\n    {\n        \"id\": \"146e6a0b-d2f6-4c77-9ca7-c5214de84776\",\n        \"value\": \"https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/{{   $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"] : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ? $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] : null }}/\"\n    },\n{\n        \"id\": \"667c5680-e9e2-4527-a7f2-3a13597398ae\",\n        \"value\": \"+{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(0,4)}}9{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(-8) }}\"\n    },\n{\n\"id\": \"b3c89f54-d6ab-4a13-a96f-387f13cf259d\",\n        \"value\": \"310aec21-c536-4db3-aa29-1cfbe53b2b28\"\n},\n    { \n\"id\": \"f82979a8-dad0-4e60-8517-f4c967033fc8\",\n        \"value\": \"{{$node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"]}}\" \n}\n]\n"
        }
      },
      "id": "02406147-56cc-4432-b09a-0a2d364dc03d",
      "name": "cria_task1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1400,
        1440
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {},
      "id": "268615f3-0937-4aff-8411-b41f5da1d18b",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        700,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "id_clickup",
              "value": "={{ $node[\"cria_task1\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "08da18f0-0cd9-4c80-b9e5-a48c95fd4e81",
      "name": "atualiza_clickup",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1780,
        1440
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://atendimento-wizard.automagicbots.com.br/api/v1/accounts/3/contacts/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "cbxh53YtaByfsUj9vQ1Qn4zm"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "0e9e439c-cc6a-4fe3-8973-f633a510d877",
      "name": "buscarContatoChatwoot1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -140,
        1180
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "77cd0439-9e49-4f80-b99d-aa28a8505be6",
              "leftValue": "={{ $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] }}",
              "rightValue": "=",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44c8ddf1-8c79-415e-8364-6ff5a3c31878",
      "name": "existe_chatwoot1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        60,
        1180
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://atendimento-wizard.automagicbots.com.br/api/v1/accounts/3/contacts/{{ $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "cbxh53YtaByfsUj9vQ1Qn4zm"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n  \"inbox_id\": 1,\n  \"phone_number\": \"+{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}\"\n}",
        "options": {}
      },
      "id": "42a5a4fc-b405-4663-90f5-a7a3a015c14e",
      "name": "atualizarContatoChatwoot1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        1040
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://atendimento-wizard.automagicbots.com.br/api/v1/accounts/3/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "cbxh53YtaByfsUj9vQ1Qn4zm"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\",\n  \"inbox_id\": 1,\n  \"phone_number\": \"+{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}\"\n}",
        "options": {}
      },
      "id": "a8fdcb42-4645-462c-bb00-6e2d73f56cd1",
      "name": "criarContatoChatwoot1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        1260
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "value2": "[OD] - Jornada dos Pioneiros"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "9e66aa8c-d956-4aa0-99f7-2852c7c038b4",
      "name": "é_oferta_direta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1160,
        1420
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"cria_task2\"].json[\"id\"] }}",
        "updateFields": {
          "addAssignees": "96789246"
        }
      },
      "id": "c7c9d2d2-9f5b-4a09-812b-53212a389a99",
      "name": "update_task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1580,
        1280
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9013333894",
        "space": "90131406741",
        "folder": "90132454606",
        "list": "901304752326",
        "name": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "additionalFields": {
          "customFieldsJson": "=[\n    {\n        \"id\": \"e85a521d-ed4b-4de5-a533-ccaaeb4a4126\",\n        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"\n    },\n    {\n        \"id\": \"146e6a0b-d2f6-4c77-9ca7-c5214de84776\",\n        \"value\": \"https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/{{   $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"] : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ? $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] : null }}/\"\n    },\n{\n        \"id\": \"667c5680-e9e2-4527-a7f2-3a13597398ae\",\n        \"value\": \"+{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(0,4)}}9{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(-8) }}\"\n    },\n{\n\"id\": \"b3c89f54-d6ab-4a13-a96f-387f13cf259d\",\n        \"value\": \"310aec21-c536-4db3-aa29-1cfbe53b2b28\"\n},\n    { \n\"id\": \"f82979a8-dad0-4e60-8517-f4c967033fc8\",\n        \"value\": \"{{$node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"]}}\" \n}\n]\n"
        }
      },
      "id": "10f11821-05cc-476b-aa49-054e7811dc5a",
      "name": "cria_task2",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1400,
        1280
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead1\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "id_clickup",
              "value": "={{ $node[\"cria_task2\"].json[\"id\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "f09e5bb1-e778-445f-8e81-206da6411da8",
      "name": "atualiza_clickup1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1780,
        1280
      ],
      "credentials": {
        "mySql": {
          "id": "VlG3zZZd5ROuQOT2",
          "name": "[MySQL] - Wizard"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "value2": "[OD] - Jornada dos Pioneiros"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "463489e5-0d7c-46a7-b745-b2607e65c283",
      "name": "é_oferta_direta1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1400,
        1040
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $node[\"cria_task3\"].json[\"id\"] }}",
        "updateFields": {
          "addAssignees": "96789246"
        }
      },
      "id": "07c022f9-7e91-47ca-b37c-bbe8a47e8672",
      "name": "update_task5",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1840,
        920
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9013333894",
        "space": "90131406741",
        "folder": "90132454606",
        "list": "901304752326",
        "name": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}",
        "additionalFields": {
          "customFieldsJson": "=[\n    {\n        \"id\": \"e85a521d-ed4b-4de5-a533-ccaaeb4a4126\",\n        \"value\": \"{{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\"\n    },\n    {\n        \"id\": \"146e6a0b-d2f6-4c77-9ca7-c5214de84776\",\n        \"value\": \"https://atendimento-wizard.automagicbots.com.br/app/accounts/3/contacts/{{   $node[\"criarContatoChatwoot1\"].runIndex >= 0 ? $node[\"criarContatoChatwoot1\"].json[\"payload\"][\"contact\"][\"id\"] : $node[\"buscarContatoChatwoot1\"].runIndex >= 0 ? $node[\"buscarContatoChatwoot1\"].json[\"payload\"][\"0\"][\"id\"] : null }}/\"\n    },\n{\n        \"id\": \"667c5680-e9e2-4527-a7f2-3a13597398ae\",\n        \"value\": \"+{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(0,4)}}9{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"].slice(-8) }}\"\n    },\n{\n\"id\": \"b3c89f54-d6ab-4a13-a96f-387f13cf259d\",\n        \"value\": \"310aec21-c536-4db3-aa29-1cfbe53b2b28\"\n},\n    { \n\"id\": \"f82979a8-dad0-4e60-8517-f4c967033fc8\",\n        \"value\": \"{{$node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"]}}\" \n}\n]\n"
        }
      },
      "id": "913a1ced-e42b-4c4a-a9e7-b311411a0cf3",
      "name": "cria_task3",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1660,
        920
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "11G9PSjzSpXl3N1E",
          "name": "[ClickUp] - VirtuD Convert"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "id": "1dd9f377-7079-4c68-9524-44782e00f387",
      "name": "Limit1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4120,
        1000
      ]
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "id": "0d61df48-e63c-4e5f-86b1-ade27a675372",
      "name": "Limit2",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4120,
        1380
      ]
    }
  ],
  "pinData": {
    "entra_na_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-Q0Jz8AeUs5FICTHt1uAJWQ",
            "deliveryTag": 2,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Calendly - Sessão Estratégica"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "Nome do Cliente": "Mateus Diniz (Automagic Bots)",
            "E-mail do Cliente": "mateusdiniz@automagicbots.com.br",
            "Telefone do Cliente - Formato BC": "+556281196678",
            "Telefone do Cliente - Formato Z-API": "556281196678",
            "Tipo de Evento": "[OD] - Jornada dos Pioneiros",
            "ID do Evento": "d0e8dc43-1516-45b2-a742-ca542fbfd3f5",
            "Responsável pelo Evento": "Emerson Arcanjo",
            "E-mail do Responsável": "emerson.arcanjo@integralmidia.com.br",
            "Data de Início": "27/07/2024, 16:20",
            "Data em que foi feito o Agendamento": "25/07/2024, 14:41",
            "Data de Término": "27/07/2024, 17:00",
            "Dia da Semana de Início do Evento": "Sábado",
            "Link da Reunião": "https://calendly.com/events/d0e8dc43-1516-45b2-a742-ca542fbfd3f5/google_meet",
            "utm_source": null,
            "utm_campaign": null,
            "utm_term": null,
            "utm_medium": null,
            "utm_content": null,
            "ID do Cliente": "9d27e073-e018-4ead-9237-4c1d86f1c3d6",
            "id_do_campo_E-mail_clickup": "e85a521d-ed4b-4de5-a533-ccaaeb4a4126",
            "id_do_campo_Link_do_WhatsApp_clickup": "146e6a0b-d2f6-4c77-9ca7-c5214de84776",
            "id_do_campo_Telefone_clickup": "667c5680-e9e2-4527-a7f2-3a13597398ae",
            "id_do_campo_funil_comercial_clickup": "b3c89f54-d6ab-4a13-a96f-387f13cf259d",
            "id_do_campo_Cadastro_clickup": "f323d32b-13d7-4bce-82a9-61b9f8221b16",
            "id_do_campo_Entrou_no_Grupo_clickup": "70c9fbfb-0a9d-4d0d-9d8c-4bae9d3430e9",
            "id_do_campo_Preencheu_Aplicacao_clickup": "4a24666b-e2b6-4d73-9fb4-3d6288dc6450",
            "id_do_campo_Em_Qualificacao_clickup": "16e6272f-b41a-4861-a56c-c014e66c526e",
            "id_do_campo_Reuniao_Agendada_clickup": "310aec21-c536-4db3-aa29-1cfbe53b2b28",
            "id_do_campo_Follow-up_clickup": "72d2eceb-8e91-42bb-8ec6-29058d4b7046",
            "id_do_campo_Call_com_CW_clickup": "a3df0d3e-c5b5-4c85-ad20-017755e49af4",
            "id_do_campo_Pagamento_contrato_clickup": "e4276521-1b74-4ea8-a98c-0ff8e8c2b404",
            "id_do_campo_Perdido_clickup": "1c0a4efa-77ec-4328-a7c3-311e0e25a8b4",
            "funil": "sessao_estrategica",
            "variacao_do_funil": "v1",
            "id_do_campo_Venda-ganho_clickup": "f3a1acf3-5bdd-4d6a-b23f-1848d4fb277e",
            "id_sdr": "",
            "id_campo_id_do_cliente_ac": "17",
            "id_campo_dia_semana_agendamento_ac": "7",
            "id_campo_data_de_inicio_ac": "9",
            "id_campo_data_e_hora_de_inicio_ac": "8",
            "id_campo_data_e_hora_de_termino_ac": "18",
            "id_campo_data_de_termino_ac": "12",
            "id_campo_email_do_responsavel_ac": "11",
            "id_campo_data_do_agendamento_ac": "10",
            "id_campo_link_da_reuniao_ac": "13",
            "id_campo_tipo_de_evento_ac": "14",
            "id_campo_id_do_evento_ac": "6",
            "id_campo_utm_source_ac": "32",
            "id_campo_utm_campaign_ac": "33",
            "id_campo_utm_term_ac": "34",
            "id_campo_utm_medium_ac": "35",
            "id_campo_utm_content_ac": "36",
            "id_campo_utm_fun_ac": "40",
            "id_campo_utm_var_ac": "41",
            "id_do_campo_id_do_cliente_bot_conversa": "1343875",
            "id_task_reuniao_ac": ""
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "YH3cb3FC5zDEa292",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-07-25T14:26:42.069Z",
      "updatedAt": "2024-07-25T14:26:42.069Z",
      "id": "wmjovYZV7zBaApaS",
      "name": "[CALENDLY]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-05T20:55:43.672Z",
  "versionId": "446f9de1-bc50-4cf8-805a-52733b352c35"
}